# Trabalho 1 de Banco de Dados - SCC0240

## Imports e Testes
Checando se tudo está funcionando

In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [2]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

Connecting to 'postgresql://postgres:***@localhost:5432/postgres'

Change displaylimit

In [3]:
%config SqlMagic.displaylimit = 20
%config SqlMagic.style = 'MARKDOWN'

In [4]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

## 3. Criação de relações

In [5]:
%sql --file sql/ex3.sql

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

||
||

In [6]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

In [7]:
%sql SELECT * FROM Propriedades;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

| id | nome | endereco | idlocalizacao | idproprietario | nquartos | nbanheiros | precodiaria | nhospedesmax | nnoitesmin | nnoitesmax | precolimpeza | horacheckin | horacheckout | regras | comodidades | casainteira |
| :: | :--: | :------: | :-----------: | :------------: | :------: | :--------: | :---------: | :----------: | :--------: | :--------: | :----------: | :---------: | :----------: | :----: | :---------: | :---------: |

## 4. Inserção de Dados
Por hora, não temos nada nas relações. Vamos inserir os dados

In [8]:
# %%capture
%sql --file sql/ex4.sql

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

20 rows affected.

10 rows affected.

20 rows affected.

17 rows affected.

26 rows affected.

19 rows affected.

20 rows affected.

20 rows affected.

10 rows affected.

15 rows affected.

||
||

In [9]:
%sql SELECT * FROM pg_catalog.pg_tables;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

79 rows affected.

| schemaname |       tablename       | tableowner | tablespace | hasindexes | hasrules | hastriggers | rowsecurity |
| :--------: | :-------------------: | :--------: | :--------: | :--------: | :------: | :---------: | :---------: |
| pg_catalog |      pg_statistic     |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |        pg_type        |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |    pg_foreign_table   |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |       pg_authid       |  postgres  | pg_global  |    True    |  False   |    False    |    False    |
| pg_catalog | pg_statistic_ext_data |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |      propriedades     |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |       avaliacoes      |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |      localizacoes     |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        usuarios       |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |       mensagens       |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        locacoes       |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |       anfitrioes      |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |  pontos_de_interesse  |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |    disponibilidade    |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |         fotos         |  postgres  |    None    |   False    |  False   |    False    |    False    |
| pg_catalog |    pg_user_mapping    |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |    pg_subscription    |  postgres  | pg_global  |    True    |  False   |    False    |    False    |
| pg_catalog |      pg_attribute     |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |        pg_proc        |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |        pg_class       |  postgres  |    None    |    True    |  False   |    False    |    False    |
Truncated to displaylimit of 20.

In [10]:
%%sql 
SELECT * 
FROM Propriedades P

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

20 rows affected.

| id |            nome           |            endereco           | idlocalizacao | idproprietario | nquartos | nbanheiros | precodiaria | nhospedesmax | nnoitesmin | nnoitesmax | precolimpeza | horacheckin | horacheckout |                 regras                |                       comodidades                       | casainteira |
| :: | :-----------------------: | :---------------------------: | :-----------: | :------------: | :------: | :--------: | :---------: | :----------: | :--------: | :--------: | :----------: | :---------: | :----------: | :-----------------------------------: | :-----------------------------------------------------: | :---------: |
| 1  |       Casa da Colina      |      Rua das Flores, 321      |       1       |       1        |    3     |     2      |    220.0    |      6       |     2      |     7      |     50.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |     Wi-Fi, Ar condicionado, Estacionamento gratuito     |     True    |
| 2  |    Apartamento Charmoso   |      Av. das Árvores, 789     |       2       |       2        |    2     |     1      |    280.0    |      4       |     1      |     14     |     60.0     |   15:00:00  |   11:00:00   |     Proibido animais de estimação.    |               Piscina, Academia, TV a cabo              |     True    |
| 3  |     Cabana na Floresta    |      Estrada da Paz, 555      |       3       |       3        |    1     |     1      |    180.0    |      2       |     1      |     7      |     30.0     |   12:00:00  |   10:00:00   |          Check-in automático.         |    Lareira, Trilhas para caminhadas, Cozinha rústica    |     True    |
| 4  |    Sobrado Aconchegante   |       Rua do Bosque, 456      |       4       |       4        |    3     |     2      |    300.0    |      8       |     2      |     10     |     70.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |           Jardim, Churrasqueira, Sala de jogos          |    False    |
| 5  |  Casa de Praia Relaxante  |       Av. Beira Mar, 123      |       5       |       5        |    4     |     3      |    400.0    |      10      |     3      |     14     |     80.0     |   15:00:00  |   11:00:00   |        Check-in após as 15:00.        | Piscina, Chuveiro externo, Varanda com vista para o mar |     True    |
| 6  |  Apartamento Estilo Loft  |     Rua da Liberdade, 1010    |       1       |       6        |    2     |     1      |    200.0    |      2       |     1      |     7      |     40.0     |   13:00:00  |   10:00:00   |      Proibido festas ou eventos.      |         Wi-Fi, Ar condicionado, Cozinha moderna         |     True    |
| 7  |      Chalé Romântico      |     Travessa do Amor, 222     |       1       |       7        |    1     |     1      |    250.0    |      2       |     1      |     7      |     50.0     |   14:00:00  |   12:00:00   |          Apenas para casais.          |   Lareira, Banheira de hidromassagem, Vista panorâmica  |     True    |
| 8  | Casa de Campo Tradicional |    Estrada do Interior, 999   |       3       |       8        |    3     |     2      |    280.0    |      6       |     2      |     10     |     60.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |         Jardim, Churrasqueira, Cozinha completa         |     True    |
| 9  |    Apartamento Moderno    |    Av. das Indústrias, 555    |       2       |       9        |    2     |     1      |    300.0    |      4       |     1      |     14     |     70.0     |   15:00:00  |   11:00:00   |     Proibido animais de estimação.    |        Wi-Fi, Academia, Estacionamento privativo        |     True    |
| 10 |   Cabana à Beira do Rio   |      Estrada do Rio, 777      |       1       |       10       |    1     |     1      |    180.0    |      2       |     1      |     7      |     40.0     |   12:00:00  |   10:00:00   |          Check-in automático.         |      Rio particular, Deck privativo, Churrasqueira      |    False    |
| 11 |      Sobrado Familiar     |      Rua dos Sonhos, 789      |       4       |       1        |    3     |     2      |    320.0    |      8       |     2      |     14     |     80.0     |   15:00:00  |   11:00:00   | Não é permitido fumar dentro da casa. |      Pátio com jardim, Churrasqueira, Sala de jogos     |    False    |
| 12 |  Casa de Praia Relaxante  |        Av. do Sol, 456        |       5       |       1        |    4     |     3      |    420.0    |      10      |     3      |     14     |     90.0     |   16:00:00  |   12:00:00   |        Check-in após as 16:00.        | Piscina, Chuveiro externo, Varanda com vista para o mar |    False    |
| 13 |        Loft Urbano        |       Rua das Ruas, 1010      |       1       |       1        |    2     |     1      |    220.0    |      2       |     1      |     7      |     50.0     |   14:00:00  |   12:00:00   |      Proibido festas ou eventos.      |        Wi-Fi, Ar condicionado, Cozinha americana        |    False    |
| 14 |       Chalé da Serra      |     Travessa da Serra, 222    |       1       |       2        |    1     |     1      |    260.0    |      2       |     1      |     7      |     60.0     |   14:00:00  |   12:00:00   |          Apenas para casais.          |   Lareira, Banheira de hidromassagem, Vista panorâmica  |    False    |
| 15 |  Casa de Campo Acolhedora | Estrada da Tranquilidade, 999 |       3       |       2        |    3     |     2      |    300.0    |      6       |     2      |     10     |     70.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |         Jardim, Churrasqueira, Cozinha completa         |     True    |
| 16 |    Apartamento de Luxo    |        Av. do Luxo, 555       |       2       |       6        |    2     |     1      |    350.0    |      4       |     1      |     14     |     80.0     |   15:00:00  |   11:00:00   |     Proibido animais de estimação.    |        Wi-Fi, Academia, Estacionamento privativo        |     True    |
| 17 |  Cabana à Beira do Riacho |     Estrada do Riacho, 777    |       1       |       2        |    1     |     1      |    200.0    |      2       |     1      |     7      |     50.0     |   12:00:00  |   10:00:00   |          Check-in automático.         |     Riacho particular, Deck privativo, Churrasqueira    |    False    |
| 18 |    Sobrado Confortável    |      Rua dos Sonhos, 789      |       4       |       2        |    3     |     2      |    340.0    |      8       |     2      |     14     |     90.0     |   15:00:00  |   11:00:00   | Não é permitido fumar dentro da casa. |      Pátio com jardim, Churrasqueira, Sala de jogos     |    False    |
| 19 |  Casa de Praia Exclusiva  |        Av. do Sol, 456        |       5       |       9        |    4     |     3      |    450.0    |      10      |     3      |     14     |    100.0     |   16:00:00  |   12:00:00   |        Check-in após as 16:00.        | Piscina, Chuveiro externo, Varanda com vista para o mar |     True    |
| 20 |        Loft Moderno       |       Rua das Ruas, 1010      |       1       |       10       |    2     |     1      |    240.0    |      2       |     1      |     7      |     60.0     |   14:00:00  |   12:00:00   |      Proibido festas ou eventos.      |        Wi-Fi, Ar condicionado, Cozinha americana        |     True    |
Truncated to displaylimit of 20.

### Atualizando valores

`PrecoTotal` na tabela `Locacoes`

In [11]:
%%sql
UPDATE Locacoes
SET PrecoTotal = (
    SELECT
        ((L.checkout - L.checkin) * P.precodiaria) AS PrecoTotal
    FROM Locacoes L
    JOIN Propriedades P on L.IDPropriedade = P.ID
    WHERE Locacoes.ID = L.ID
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

20 rows affected.

||
||

`PrecoTotalcomTaxas` na tabela `Locacoes`

In [12]:
%%sql
UPDATE Locacoes
SET PrecoTotalComTaxas = (
    PrecoTotal + Imposto
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

20 rows affected.

||
||

In [13]:
%%sql
SELECT
    L.PrecoTotal, L.Imposto, L.PrecoTotalComTaxas
FROM Locacoes L

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

20 rows affected.

| precototal | imposto | precototalcomtaxas |
| :--------: | :-----: | :----------------: |
|   1980.0   |   30.0  |       2010.0       |
|   2800.0   |   20.0  |       2820.0       |
|   900.0    |   15.0  |       915.0        |
|   2400.0   |   35.0  |       2435.0       |
|   3600.0   |   50.0  |       3650.0       |
|   1000.0   |   10.0  |       1010.0       |
|   2200.0   |   15.0  |       2215.0       |
|   2520.0   |   25.0  |       2545.0       |
|   900.0    |   10.0  |       910.0        |
|   3000.0   |   15.0  |       3015.0       |
|   2200.0   |   35.0  |       2235.0       |
|   2800.0   |   30.0  |       2830.0       |
|   1620.0   |   20.0  |       1640.0       |
|   3000.0   |   25.0  |       3025.0       |
|   2200.0   |   15.0  |       2215.0       |
|   2800.0   |   20.0  |       2820.0       |
|   1800.0   |   35.0  |       1835.0       |
|   1620.0   |   50.0  |       1670.0       |
|   1800.0   |   25.0  |       1825.0       |
|   1800.0   |   15.0  |       1815.0       |
Truncated to displaylimit of 20.

## Queries

### 5. Relação de Propriedade
- Mostre a tabela inteira

In [14]:
%%sql
SELECT * FROM Propriedades;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

20 rows affected.

| id |            nome           |            endereco           | idlocalizacao | idproprietario | nquartos | nbanheiros | precodiaria | nhospedesmax | nnoitesmin | nnoitesmax | precolimpeza | horacheckin | horacheckout |                 regras                |                       comodidades                       | casainteira |
| :: | :-----------------------: | :---------------------------: | :-----------: | :------------: | :------: | :--------: | :---------: | :----------: | :--------: | :--------: | :----------: | :---------: | :----------: | :-----------------------------------: | :-----------------------------------------------------: | :---------: |
| 1  |       Casa da Colina      |      Rua das Flores, 321      |       1       |       1        |    3     |     2      |    220.0    |      6       |     2      |     7      |     50.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |     Wi-Fi, Ar condicionado, Estacionamento gratuito     |     True    |
| 2  |    Apartamento Charmoso   |      Av. das Árvores, 789     |       2       |       2        |    2     |     1      |    280.0    |      4       |     1      |     14     |     60.0     |   15:00:00  |   11:00:00   |     Proibido animais de estimação.    |               Piscina, Academia, TV a cabo              |     True    |
| 3  |     Cabana na Floresta    |      Estrada da Paz, 555      |       3       |       3        |    1     |     1      |    180.0    |      2       |     1      |     7      |     30.0     |   12:00:00  |   10:00:00   |          Check-in automático.         |    Lareira, Trilhas para caminhadas, Cozinha rústica    |     True    |
| 4  |    Sobrado Aconchegante   |       Rua do Bosque, 456      |       4       |       4        |    3     |     2      |    300.0    |      8       |     2      |     10     |     70.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |           Jardim, Churrasqueira, Sala de jogos          |    False    |
| 5  |  Casa de Praia Relaxante  |       Av. Beira Mar, 123      |       5       |       5        |    4     |     3      |    400.0    |      10      |     3      |     14     |     80.0     |   15:00:00  |   11:00:00   |        Check-in após as 15:00.        | Piscina, Chuveiro externo, Varanda com vista para o mar |     True    |
| 6  |  Apartamento Estilo Loft  |     Rua da Liberdade, 1010    |       1       |       6        |    2     |     1      |    200.0    |      2       |     1      |     7      |     40.0     |   13:00:00  |   10:00:00   |      Proibido festas ou eventos.      |         Wi-Fi, Ar condicionado, Cozinha moderna         |     True    |
| 7  |      Chalé Romântico      |     Travessa do Amor, 222     |       1       |       7        |    1     |     1      |    250.0    |      2       |     1      |     7      |     50.0     |   14:00:00  |   12:00:00   |          Apenas para casais.          |   Lareira, Banheira de hidromassagem, Vista panorâmica  |     True    |
| 8  | Casa de Campo Tradicional |    Estrada do Interior, 999   |       3       |       8        |    3     |     2      |    280.0    |      6       |     2      |     10     |     60.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |         Jardim, Churrasqueira, Cozinha completa         |     True    |
| 9  |    Apartamento Moderno    |    Av. das Indústrias, 555    |       2       |       9        |    2     |     1      |    300.0    |      4       |     1      |     14     |     70.0     |   15:00:00  |   11:00:00   |     Proibido animais de estimação.    |        Wi-Fi, Academia, Estacionamento privativo        |     True    |
| 10 |   Cabana à Beira do Rio   |      Estrada do Rio, 777      |       1       |       10       |    1     |     1      |    180.0    |      2       |     1      |     7      |     40.0     |   12:00:00  |   10:00:00   |          Check-in automático.         |      Rio particular, Deck privativo, Churrasqueira      |    False    |
| 11 |      Sobrado Familiar     |      Rua dos Sonhos, 789      |       4       |       1        |    3     |     2      |    320.0    |      8       |     2      |     14     |     80.0     |   15:00:00  |   11:00:00   | Não é permitido fumar dentro da casa. |      Pátio com jardim, Churrasqueira, Sala de jogos     |    False    |
| 12 |  Casa de Praia Relaxante  |        Av. do Sol, 456        |       5       |       1        |    4     |     3      |    420.0    |      10      |     3      |     14     |     90.0     |   16:00:00  |   12:00:00   |        Check-in após as 16:00.        | Piscina, Chuveiro externo, Varanda com vista para o mar |    False    |
| 13 |        Loft Urbano        |       Rua das Ruas, 1010      |       1       |       1        |    2     |     1      |    220.0    |      2       |     1      |     7      |     50.0     |   14:00:00  |   12:00:00   |      Proibido festas ou eventos.      |        Wi-Fi, Ar condicionado, Cozinha americana        |    False    |
| 14 |       Chalé da Serra      |     Travessa da Serra, 222    |       1       |       2        |    1     |     1      |    260.0    |      2       |     1      |     7      |     60.0     |   14:00:00  |   12:00:00   |          Apenas para casais.          |   Lareira, Banheira de hidromassagem, Vista panorâmica  |    False    |
| 15 |  Casa de Campo Acolhedora | Estrada da Tranquilidade, 999 |       3       |       2        |    3     |     2      |    300.0    |      6       |     2      |     10     |     70.0     |   14:00:00  |   12:00:00   | Não é permitido fumar dentro da casa. |         Jardim, Churrasqueira, Cozinha completa         |     True    |
| 16 |    Apartamento de Luxo    |        Av. do Luxo, 555       |       2       |       6        |    2     |     1      |    350.0    |      4       |     1      |     14     |     80.0     |   15:00:00  |   11:00:00   |     Proibido animais de estimação.    |        Wi-Fi, Academia, Estacionamento privativo        |     True    |
| 17 |  Cabana à Beira do Riacho |     Estrada do Riacho, 777    |       1       |       2        |    1     |     1      |    200.0    |      2       |     1      |     7      |     50.0     |   12:00:00  |   10:00:00   |          Check-in automático.         |     Riacho particular, Deck privativo, Churrasqueira    |    False    |
| 18 |    Sobrado Confortável    |      Rua dos Sonhos, 789      |       4       |       2        |    3     |     2      |    340.0    |      8       |     2      |     14     |     90.0     |   15:00:00  |   11:00:00   | Não é permitido fumar dentro da casa. |      Pátio com jardim, Churrasqueira, Sala de jogos     |    False    |
| 19 |  Casa de Praia Exclusiva  |        Av. do Sol, 456        |       5       |       9        |    4     |     3      |    450.0    |      10      |     3      |     14     |    100.0     |   16:00:00  |   12:00:00   |        Check-in após as 16:00.        | Piscina, Chuveiro externo, Varanda com vista para o mar |     True    |
| 20 |        Loft Moderno       |       Rua das Ruas, 1010      |       1       |       10       |    2     |     1      |    240.0    |      2       |     1      |     7      |     60.0     |   14:00:00  |   12:00:00   |      Proibido festas ou eventos.      |        Wi-Fi, Ar condicionado, Cozinha americana        |     True    |
Truncated to displaylimit of 20.

- Mostre quantas propriedades existem de cada classe

Casa Inteira

In [15]:
%%sql
SELECT CasaInteira, COUNT(*) AS Quantidade
FROM Propriedades
GROUP BY CasaInteira;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

2 rows affected.

| casainteira | quantidade |
| :---------: | :--------: |
|    False    |     8      |
|     True    |     12     |

NQuartos

In [16]:
%%sql
SELECT NQuartos, COUNT(*) AS Quantidade 
FROM Propriedades 
GROUP BY NQuartos;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

4 rows affected.

| nquartos | quantidade |
| :------: | :--------: |
|    4     |     3      |
|    2     |     6      |
|    3     |     6      |
|    1     |     5      |

NBanheiros

In [17]:
%%sql
SELECT NBanheiros, COUNT(*) AS Quantidade 
FROM Propriedades 
GROUP BY NBanheiros;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

3 rows affected.

| nbanheiros | quantidade |
| :--------: | :--------: |
|     2      |     6      |
|     3      |     3      |
|     1      |     11     |

Preço da Classe

In [18]:
%%sql
SELECT
    CASE
        WHEN PrecoDiaria BETWEEN 0 AND 200 THEN 'Classe C'
        WHEN PrecoDiaria BETWEEN 200 AND 400 THEN 'Classe B'
        ELSE 'Classe A'
    END AS ClassePreco,
    COUNT(*) AS NumeroPropriedades
FROM Propriedades P
GROUP BY ClassePreco
ORDER BY ClassePreco

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

3 rows affected.

| classepreco | numeropropriedades |
| :---------: | :----------------: |
|   Classe A  |         2          |
|   Classe B  |         14         |
|   Classe C  |         4          |

- Mostre quantas Propriedades existem de cada Cidade.

In [19]:
%%sql
SELECT L.Cidade, COUNT(*) FROM Propriedades P
JOIN Localizacoes L ON P.IDLocalizacao = L.ID
GROUP BY L.Cidade;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

5 rows affected.

|     cidade    | count |
| :-----------: | :---: |
|  Porto Alegre |   8   |
| Florianópolis |   3   |
|     Manaus    |   3   |
|    Vitória    |   3   |
|    Goiânia    |   3   |

### 6. Checkin de Locações

In [30]:
%%sql
SELECT 
    L.id as IDLocacao, L.idlocatario, L.idpropriedade,
    P.Nome,
    UA.ID as IDAnfitriao, UA.Nome as NomeAnfitriao,
    H.ID as IDUsuario, H.Nome as NomeUsuario, 
    (L.CheckOut-L.CheckIn) as TotalDias,
    P.PrecoDiaria
FROM Locacoes L
JOIN Usuarios H ON H.ID = L.IDLocatario
JOIN Propriedades P ON L.IDPropriedade = P.ID
JOIN Anfitrioes A ON P.IDProprietario = A.ID
JOIN Usuarios UA ON A.IDUsuario = UA.ID
WHERE L.CheckIn > '2024-04-01' AND L.Confirmada = True;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

12 rows affected.

| idlocacao | idlocatario | idpropriedade |          nome         | idanfitriao | nomeanfitriao | idusuario | nomeusuario | totaldias | precodiaria |
| :-------: | :---------: | :-----------: | :-------------------: | :---------: | :-----------: | :-------: | :---------: | :-------: | :---------: |
|     14    |      8      |       4       |  Sobrado Aconchegante |      15     |   Guilherme   |     8     |   Juliana   |     10    |    300.0    |
|     15    |      9      |       1       |     Casa da Colina    |      7      |     Lucas     |     9     |    Mateus   |     10    |    220.0    |
|     16    |      10     |       2       |  Apartamento Charmoso |      10     |     Laura     |     10    |    Laura    |     10    |    280.0    |
|     17    |      11     |       10      | Cabana à Beira do Rio |      11     |    Gabriel    |     11    |   Gabriel   |     10    |    180.0    |
|     18    |      12     |       10      | Cabana à Beira do Rio |      11     |    Gabriel    |     12    |   Fernanda  |     9     |    180.0    |
|     19    |      13     |       10      | Cabana à Beira do Rio |      11     |    Gabriel    |     13    |    Rafael   |     10    |    180.0    |
|     20    |      14     |       10      | Cabana à Beira do Rio |      11     |    Gabriel    |     14    |    Camila   |     10    |    180.0    |
|     9     |      16     |       3       |   Cabana na Floresta  |      12     |    Fernanda   |     16    |   Isabela   |     5     |    180.0    |
|     10    |      17     |       4       |  Sobrado Aconchegante |      15     |   Guilherme   |     17    |   Mariana   |     10    |    300.0    |
|     11    |      18     |       1       |     Casa da Colina    |      7      |     Lucas     |     18    |   Leonardo  |     10    |    220.0    |
|     12    |      19     |       2       |  Apartamento Charmoso |      10     |     Laura     |     19    |   Larissa   |     10    |    280.0    |
|     13    |      20     |       3       |   Cabana na Floresta  |      12     |    Fernanda   |     20    |   Matheus   |     9     |    180.0    |

### 7. Valor Médio das diárias
- Mostre o valor médio das diárias de todas locações que foram feitas e das que foram confirmadas em cada mês para que exista locação

In [21]:
%%sql
SELECT 
    EXTRACT(MONTH FROM L.CheckIn) AS Mes,
    AVG(P.PrecoDiaria) AS MediaDiaria
FROM Locacoes L
JOIN Propriedades P ON L.IDPropriedade = P.ID
GROUP BY EXTRACT(MONTH FROM L.CheckIn)
ORDER BY Mes;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

5 rows affected.

| mes |    mediadiaria    |
| :-: | :---------------: |
|  2  |       245.0       |
|  3  | 273.3333333333333 |
|  4  |       252.0       |
|  5  |       232.0       |
|  6  |       180.0       |

### 8. Anfitriões com pelo menos 3 locações

Checando a quantidade de propriedades da anfitriã 'Maria'

In [22]:
%%sql 
SELECT U.Nome, P.Nome
FROM Usuarios U
JOIN Propriedades P ON U.ID = P.IDProprietario
WHERE U.Nome = 'Maria'

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

5 rows affected.

|  nome |          nome_1          |
| :---: | :----------------------: |
| Maria |   Apartamento Charmoso   |
| Maria |      Chalé da Serra      |
| Maria | Casa de Campo Acolhedora |
| Maria | Cabana à Beira do Riacho |
| Maria |   Sobrado Confortável    |

Realizando a subquery, que mostra as locações e locatários

In [23]:
%%sql
SELECT 
    U.Nome AS NomeAnfitriao, 
    PUsuario.Nome AS NPropriedades,
    Loc.Cidade, COUNT(L.ID) AS NLocacoes, 
    PLocacao.Nome AS NomePropriedade
FROM 
    Locacoes L
JOIN Propriedades PLocacao ON L.IDPropriedade = PLocacao.ID
JOIN Anfitrioes A ON PLocacao.IDProprietario = A.IDUsuario
JOIN Usuarios U ON A.IDUsuario = U.ID
JOIN Propriedades PUsuario ON U.ID = PUsuario.IDProprietario
JOIN Localizacoes Loc ON Loc.ID = U.ID
GROUP BY NomeAnfitriao, NPropriedades, Cidade, NomePropriedade

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

8 rows affected.

| nomeanfitriao |      npropriedades       |     cidade    | nlocacoes |     nomepropriedade     |
| :-----------: | :----------------------: | :-----------: | :-------: | :---------------------: |
|     Maria     |      Chalé da Serra      | Florianópolis |     4     |   Apartamento Charmoso  |
|     Maria     |   Sobrado Confortável    | Florianópolis |     4     |   Apartamento Charmoso  |
|     Laura     |  Cabana à Beira do Rio   |    Aracaju    |     4     |  Cabana à Beira do Rio  |
|     Maria     |   Apartamento Charmoso   | Florianópolis |     4     |   Apartamento Charmoso  |
|     Maria     | Casa de Campo Acolhedora | Florianópolis |     4     |   Apartamento Charmoso  |
|     Maria     | Cabana à Beira do Riacho | Florianópolis |     4     |   Apartamento Charmoso  |
|     Laura     |       Loft Moderno       |    Aracaju    |     4     |  Cabana à Beira do Rio  |
|     Carlos    | Casa de Praia Relaxante  |     Manaus    |     1     | Casa de Praia Relaxante |

- Anfitriões com pelo menos 3 locações, com seu nome, sua cidade e número de propriedades

In [24]:
%%sql 
SELECT Q.NomeAnfitriao, Q.Cidade, COUNT(Q.APropriedades) AS NúmeroPropriedades FROM (
    SELECT 
        U.Nome AS NomeAnfitriao, 
        PUsuario.Nome AS APropriedades,
        Loc.Cidade, COUNT(L.ID) AS NLocacoes
    FROM 
        Locacoes L
    JOIN Propriedades PLocacao ON L.IDPropriedade = PLocacao.ID
    JOIN Anfitrioes A ON PLocacao.IDProprietario = A.IDUsuario
    JOIN Usuarios U ON A.IDUsuario = U.ID
    JOIN Propriedades PUsuario ON U.ID = PUsuario.IDProprietario
    JOIN Localizacoes Loc ON Loc.ID = U.ID
    GROUP BY NomeAnfitriao, APropriedades, Cidade
) Q
WHERE Q.NLocacoes >= 3
GROUP BY Q.NomeAnfitriao, Q.Cidade

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

2 rows affected.

| nomeanfitriao |     cidade    | númeropropriedades |
| :-----------: | :-----------: | :----------------: |
|     Maria     | Florianópolis |         5          |
|     Laura     |    Aracaju    |         2          |

### 9. Anfitriões e Usuários
Mostre Usuários que também são anfitriões

In [25]:
%%sql
SELECT DISTINCT
    U.id, U.Nome 
FROM Usuarios U,
(
    SELECT * FROM Propriedades P, Locacoes L
    WHERE P.IDProprietario = L.IDLocatario
) AS prop_loc 
WHERE U.id = prop_loc.IDProprietario

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

3 rows affected.

| id |   nome  |
| :: | :-----: |
| 8  | Juliana |
| 9  |  Mateus |
| 10 |  Laura  |

### 10.

- Anfitrião mais jovem

In [26]:
%%sql
SELECT 
    MAX(Usuarios.Nascimento) 
FROM Usuarios, Propriedades
WHERE Usuarios.ID = Propriedades.idproprietario

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

|    max     |
| :--------: |
| 1995-01-30 |

- Locatários mais jovens que algum anfitrião

In [29]:
%%sql
SELECT DISTINCT
    Locatarios.Nome, Locatarios.Nascimento 
FROM 
(
    SELECT 
        Usuarios.ID, Usuarios.Nome, Usuarios.Nascimento 
    FROM Usuarios, Locacoes
    WHERE Locacoes.IDLocatario = Usuarios.ID
) AS Locatarios 
WHERE Locatarios.Nascimento > ANY 
(
    SELECT 
        Usuarios.Nascimento 
    FROM Usuarios, Propriedades
    WHERE Usuarios.ID = Propriedades.idproprietario
);

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

12 rows affected.

|    nome   | nascimento |
| :-------: | :--------: |
|   Camila  | 1982-10-03 |
|  Fernanda | 1986-02-14 |
| Guilherme | 1989-03-16 |
|  Isabela  | 1984-07-08 |
|  Juliana  | 1983-04-27 |
|  Larissa  | 1987-04-18 |
|   Laura   | 1993-06-23 |
|  Leonardo | 1981-09-05 |
|  Mariana  | 1990-12-22 |
|   Mateus  | 1987-11-10 |
|  Matheus  | 2003-11-01 |
|   Rafael  | 1994-05-29 |

- Locatários mais jovens que todos anfitriões

In [28]:
%%sql
SELECT 
    Locatarios.Nome, Locatarios.Nascimento 
FROM 
(
    SELECT 
        Usuarios.ID, Usuarios.Nome, Usuarios.Nascimento 
    FROM Usuarios, Locacoes
    WHERE Locacoes.IDlocatario = Usuarios.ID
) AS Locatarios WHERE
Locatarios.Nascimento > ALL
(
    SELECT 
        Usuarios.Nascimento 
    FROM Usuarios, Propriedades
    WHERE Usuarios.ID = Propriedades.IDproprietario
);

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

| id |   nome  | nascimento |
| :: | :-----: | :--------: |
| 20 | Matheus | 2003-11-01 |