# Trabalho 1 de Banco de Dados - SCC0240

## Imports e Testes
Checando se tudo está funcionando

In [9]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [10]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting to 'postgresql://postgres:***@localhost:5432/postgres'

In [11]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

+------------------+
| current_database |
+------------------+
|     postgres     |
+------------------+

## 3. Criação de relações

In [12]:
%sql --file sql/ex3.sql

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [13]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

+------------------+
| current_database |
+------------------+
|     postgres     |
+------------------+

In [14]:
%sql SELECT * FROM Propriedades;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

+----+------+----------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+--------+-------------+-------------+
| id | nome | endereco | idlocalizacao | idproprietario | nquartos | nbanheiros | precodiaria | nhospedesmax | nnoitesmin | nnoitesmax | precolimpeza | horacheckin | horacheckout | regras | comodidades | casainteira |
+----+------+----------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+--------+-------------+-------------+
+----+------+----------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+--------+-------------+-------------+

## 4. Inserção de Dados
Por hora, não temos nada nas relações. Vamos inserir os dados

In [15]:
%%capture
%sql --file sql/ex4.sql

In [16]:
%sql SELECT * FROM pg_catalog.pg_tables;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

79 rows affected.

+------------+---------------------+------------+------------+------------+----------+-------------+-------------+
| schemaname |      tablename      | tableowner | tablespace | hasindexes | hasrules | hastriggers | rowsecurity |
+------------+---------------------+------------+------------+------------+----------+-------------+-------------+
| pg_catalog |     pg_statistic    |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |       pg_type       |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |     propriedades    |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |      avaliacoes     |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |     localizacoes    |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |       usuarios      |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |      mensagens      |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |       locacoes      |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |      anfitrioes     |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   | pontos_de_interesse |  postgres  |    None    |   False    |  False   |    False    |    False    |
+------------+---------------------+------------+------------+------------+----------+-------------+-------------+
Truncated to displaylimit of 10.

In [29]:
%%sql 
SELECT * 
FROM Propriedades P

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----+-----------------------+-------------------------------------------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+---------------------------------------------------+-----------------------------------------------------------+-------------+
| id |          nome         |                  endereco                 | idlocalizacao | idproprietario | nquartos | nbanheiros | precodiaria | nhospedesmax | nnoitesmin | nnoitesmax | precolimpeza | horacheckin | horacheckout |                       regras                      |                        comodidades                        | casainteira |
+----+-----------------------+-------------------------------------------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+---------------------------------------------------+-----------------------------------------------------------+-------------+
| 1  |     Casa na Praia     |    Rua das Palmeiras, 123, Praia do Sol   |       1       |       1        |    3     |     2      |    200.0    |      6       |     2      |     7      |     50.0     |   14:00:00  |   12:00:00   |       Não é permitido fumar dentro de casa.       |      Wi-Fi, Ar condicionado, Estacionamento gratuito      |     True    |
| 2  |    Apartamento Luxo   |         Av. Principal, 456, Centro        |       2       |       2        |    2     |     1      |    300.0    |      4       |     1      |     14     |     60.0     |   15:00:00  |   11:00:00   |           Proibido animais de estimação.          |                Piscina, Academia, TV a cabo               |     True    |
| 3  |      Casa Rústica     |   Estrada da Montanha, 789, Serra Verde   |       3       |       3        |    4     |     3      |    150.0    |      8       |     2      |     10     |     None     |   16:00:00  |   10:00:00   |                        None                       |          Lareira, Churrasqueira, Vista panorâmica         |     True    |
| 4  |   Chalé Aconchegante  |     Rua das Flores, 101, Campo Florido    |       4       |       4        |    1     |     1      |    100.0    |      2       |     1      |     5      |     30.0     |   14:00:00  |   12:00:00   | Check-out tardio disponível mediante solicitação. |           Lareira, Jardim, Café da manhã incluso          |    False    |
| 5  |     Casa de Praia     |     Av. Beira Mar, 789, Praia do Norte    |       5       |       5        |    5     |     4      |    250.0    |      10      |     3      |     14     |     70.0     |   15:00:00  |   12:00:00   |            Proibido festas ou eventos.            |               Wi-Fi, Piscina, Churrasqueira               |    False    |
| 6  |  Apartamento Moderno  |        Av. das Torres, 555, Centro        |       6       |       6        |    3     |     2      |    180.0    |      6       |     2      |     10     |     50.0     |   14:00:00  |   11:00:00   |                        None                       |          Wi-Fi, Academia, Estacionamento gratuito         |    False    |
| 7  |     Casa de Campo     |    Rua das Margaridas, 789, Campo Verde   |       7       |       7        |    3     |     2      |    180.0    |      6       |     2      |     10     |     50.0     |   15:00:00  |   12:00:00   |            Check-in a partir das 14:00.           |       Churrasqueira, Jardim, Estacionamento gratuito      |    False    |
| 8  |    Chalé Romântico    |    Rua dos Namorados, 14, Vale do Amor    |       8       |       8        |    1     |     1      |    120.0    |      2       |     1      |     5      |     40.0     |   14:00:00  |   12:00:00   |             Perfeito para lua de mel.             |    Lareira, Banheira de hidromassagem, Vista panorâmica   |    False    |
| 9  | Casa de Campo Luxuosa | Estrada dos Pinheiros, 123, Serra Dourada |       9       |       9        |    6     |     4      |    350.0    |      12      |     3      |     14     |     80.0     |   16:00:00  |   12:00:00   | Check-out tardio disponível mediante solicitação. |               Piscina, Sauna, Sala de jogos               |     True    |
| 10 |  Bangalô à Beira-Mar  |       Av. das Ondas, 789, Praia Azul      |       10      |       10       |    2     |     1      |    280.0    |      4       |     2      |     7      |     60.0     |   15:00:00  |   11:00:00   |         Proibido fumar dentro do bangalô.         | Ar condicionado, Varanda privativa, Acesso direto à praia |     True    |
+----+-----------------------+-------------------------------------------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+---------------------------------------------------+-----------------------------------------------------------+-------------+
Truncated to displaylimit of 10.

### Atualizando valores

`PrecoTotal` na tabela `Locacoes`

In [54]:
%%sql
UPDATE Locacoes
SET PrecoTotal = (
    SELECT
        ((L.checkout - L.checkin) * P.precodiaria + COALESCE(P.precolimpeza, 0)) AS PrecoTotal
    FROM Locacoes L
    JOIN Propriedades P on L.IDPropriedade = P.ID
    WHERE Locacoes.ID = L.ID
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

++
||
++
++

`PrecoTotalcomTaxas` na tabela `Locacoes`

In [55]:
%%sql
UPDATE Locacoes
SET PrecoTotalComTaxas = (
    PrecoTotal + Imposto
)

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

++
||
++
++

In [56]:
%%sql
SELECT
    L.PrecoTotal, L.Imposto, L.PrecoTotalComTaxas
FROM Locacoes L

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+------------+---------+--------------------+
| precototal | imposto | precototalcomtaxas |
+------------+---------+--------------------+
|   1450.0   |   20.0  |       1470.0       |
|   3060.0   |   15.0  |       3075.0       |
|   1050.0   |   18.0  |       1068.0       |
|   530.0    |   12.0  |       542.0        |
|   2320.0   |   25.0  |       2345.0       |
|   1850.0   |   20.0  |       1870.0       |
|   1130.0   |   22.0  |       1152.0       |
|   880.0    |   18.0  |       898.0        |
|   3580.0   |   20.0  |       3600.0       |
|   2860.0   |   15.0  |       2875.0       |
+------------+---------+--------------------+
Truncated to displaylimit of 10.

## Queries

### 5. Relação de Propriedade
- Mostre a tabela inteira

In [57]:
%%sql
SELECT * FROM Propriedades;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----+-----------------------+-------------------------------------------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+---------------------------------------------------+-----------------------------------------------------------+-------------+
| id |          nome         |                  endereco                 | idlocalizacao | idproprietario | nquartos | nbanheiros | precodiaria | nhospedesmax | nnoitesmin | nnoitesmax | precolimpeza | horacheckin | horacheckout |                       regras                      |                        comodidades                        | casainteira |
+----+-----------------------+-------------------------------------------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+---------------------------------------------------+-----------------------------------------------------------+-------------+
| 1  |     Casa na Praia     |    Rua das Palmeiras, 123, Praia do Sol   |       1       |       1        |    3     |     2      |    200.0    |      6       |     2      |     7      |     50.0     |   14:00:00  |   12:00:00   |       Não é permitido fumar dentro de casa.       |      Wi-Fi, Ar condicionado, Estacionamento gratuito      |     True    |
| 2  |    Apartamento Luxo   |         Av. Principal, 456, Centro        |       2       |       2        |    2     |     1      |    300.0    |      4       |     1      |     14     |     60.0     |   15:00:00  |   11:00:00   |           Proibido animais de estimação.          |                Piscina, Academia, TV a cabo               |     True    |
| 3  |      Casa Rústica     |   Estrada da Montanha, 789, Serra Verde   |       3       |       3        |    4     |     3      |    150.0    |      8       |     2      |     10     |     None     |   16:00:00  |   10:00:00   |                        None                       |          Lareira, Churrasqueira, Vista panorâmica         |     True    |
| 4  |   Chalé Aconchegante  |     Rua das Flores, 101, Campo Florido    |       4       |       4        |    1     |     1      |    100.0    |      2       |     1      |     5      |     30.0     |   14:00:00  |   12:00:00   | Check-out tardio disponível mediante solicitação. |           Lareira, Jardim, Café da manhã incluso          |    False    |
| 5  |     Casa de Praia     |     Av. Beira Mar, 789, Praia do Norte    |       5       |       5        |    5     |     4      |    250.0    |      10      |     3      |     14     |     70.0     |   15:00:00  |   12:00:00   |            Proibido festas ou eventos.            |               Wi-Fi, Piscina, Churrasqueira               |    False    |
| 6  |  Apartamento Moderno  |        Av. das Torres, 555, Centro        |       6       |       6        |    3     |     2      |    180.0    |      6       |     2      |     10     |     50.0     |   14:00:00  |   11:00:00   |                        None                       |          Wi-Fi, Academia, Estacionamento gratuito         |    False    |
| 7  |     Casa de Campo     |    Rua das Margaridas, 789, Campo Verde   |       7       |       7        |    3     |     2      |    180.0    |      6       |     2      |     10     |     50.0     |   15:00:00  |   12:00:00   |            Check-in a partir das 14:00.           |       Churrasqueira, Jardim, Estacionamento gratuito      |    False    |
| 8  |    Chalé Romântico    |    Rua dos Namorados, 14, Vale do Amor    |       8       |       8        |    1     |     1      |    120.0    |      2       |     1      |     5      |     40.0     |   14:00:00  |   12:00:00   |             Perfeito para lua de mel.             |    Lareira, Banheira de hidromassagem, Vista panorâmica   |    False    |
| 9  | Casa de Campo Luxuosa | Estrada dos Pinheiros, 123, Serra Dourada |       9       |       9        |    6     |     4      |    350.0    |      12      |     3      |     14     |     80.0     |   16:00:00  |   12:00:00   | Check-out tardio disponível mediante solicitação. |               Piscina, Sauna, Sala de jogos               |     True    |
| 10 |  Bangalô à Beira-Mar  |       Av. das Ondas, 789, Praia Azul      |       10      |       10       |    2     |     1      |    280.0    |      4       |     2      |     7      |     60.0     |   15:00:00  |   11:00:00   |         Proibido fumar dentro do bangalô.         | Ar condicionado, Varanda privativa, Acesso direto à praia |     True    |
+----+-----------------------+-------------------------------------------+---------------+----------------+----------+------------+-------------+--------------+------------+------------+--------------+-------------+--------------+---------------------------------------------------+-----------------------------------------------------------+-------------+
Truncated to displaylimit of 10.

- Mostre quantas propriedades existem de cada classe

In [58]:
%%sql
SELECT CasaInteira, COUNT(*) FROM Propriedades
GROUP BY CasaInteira;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

2 rows affected.

+-------------+-------+
| casainteira | count |
+-------------+-------+
|    False    |   5   |
|     True    |   5   |
+-------------+-------+

- Mostre quantas Propriedades existem de cada Cidade.

In [59]:
%%sql
SELECT L.Cidade, COUNT(*) FROM Propriedades P
JOIN Localizacoes L ON P.IDLocalizacao = L.ID
GROUP BY L.Cidade;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----------------+-------+
|     cidade     | count |
+----------------+-------+
|     Paris      |   1   |
|     Sydney     |   1   |
|   Barcelona    |   1   |
|      Roma      |   1   |
| New York City  |   1   |
|   São Paulo    |   1   |
|  Los Angeles   |   1   |
|    Toronto     |   1   |
|     Tóquio     |   1   |
| Rio de Janeiro |   1   |
+----------------+-------+
Truncated to displaylimit of 10.

### 6. Checkin de Locações

In [60]:
%%sql
SELECT U.Nome FROM Anfitrioes A JOIN Usuarios U ON A.IDUsuario = U.ID

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----------+
|   nome   |
+----------+
|  Maria   |
|   João   |
|   Ana    |
|  Pedro   |
|  Carla   |
|   José   |
|  Amanda  |
|  Lucas   |
| Fernanda |
|  Rafael  |
+----------+
Truncated to displaylimit of 10.

In [61]:
%%sql
SELECT 
    L.id as IDLocacao, L.idlocatario, L.idpropriedade,
    P.Nome,
    UA.ID as IDAnfitriao, UA.Nome as NomeAnfitriao,
    H.ID as IDUsuario, H.Nome as NomeUsuario, 
    (L.CheckOut-L.CheckIn) as TotalDias
FROM Locacoes L
JOIN Usuarios H ON H.ID = L.IDLocatario
JOIN Propriedades P ON L.IDPropriedade = P.ID
JOIN Anfitrioes A ON P.IDProprietario = A.ID
JOIN Usuarios UA ON A.IDUsuario = UA.ID
WHERE L.CheckIn > '2024-04-01';

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+-----------+-------------+---------------+-----------------------+-------------+---------------+-----------+-------------+-----------+
| idlocacao | idlocatario | idpropriedade |          nome         | idanfitriao | nomeanfitriao | idusuario | nomeusuario | totaldias |
+-----------+-------------+---------------+-----------------------+-------------+---------------+-----------+-------------+-----------+
|     1     |      1      |       1       |     Casa na Praia     |      1      |     Maria     |     1     |    Maria    |     7     |
|     2     |      2      |       2       |    Apartamento Luxo   |      2      |      João     |     2     |     João    |     10    |
|     3     |      3      |       3       |      Casa Rústica     |      3      |      Ana      |     3     |     Ana     |     7     |
|     4     |      4      |       4       |   Chalé Aconchegante  |      4      |     Pedro     |     4     |    Pedro    |     5     |
|     5     |      5      |       5       |     Casa de Praia     |      5      |     Carla     |     5     |    Carla    |     9     |
|     6     |      6      |       6       |  Apartamento Moderno  |      6      |      José     |     6     |     José    |     10    |
|     7     |      7      |       7       |     Casa de Campo     |      7      |     Amanda    |     7     |    Amanda   |     6     |
|     8     |      8      |       8       |    Chalé Romântico    |      8      |     Lucas     |     8     |    Lucas    |     7     |
|     9     |      9      |       9       | Casa de Campo Luxuosa |      9      |    Fernanda   |     9     |   Fernanda  |     10    |
|     10    |      10     |       10      |  Bangalô à Beira-Mar  |      10     |     Rafael    |     10    |    Rafael   |     10    |
+-----------+-------------+---------------+-----------------------+-------------+---------------+-----------+-------------+-----------+
Truncated to displaylimit of 10.

### 7. Valor Médio
- Mostre o valor médio das diárias de todas locações que foram feitas e das que foram confirmadas em cada mês para que exista locação

In [62]:
%%sql
SELECT
    AVG(P.precodiaria)
FROM Locacoes L
JOIN Propriedades P ON L.IDPropriedade = P.ID

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

+-------+
|  avg  |
+-------+
| 211.0 |
+-------+

In [64]:
%%sql
SELECT 
    AVG(P.PrecoDiaria) AS MediaDiaria, 
    EXTRACT(MONTH FROM L.DataReserva) AS Mes
FROM Locacoes L
JOIN Propriedades P ON L.IDPropriedade = P.ID
GROUP BY EXTRACT(MONTH FROM L.DataReserva)
ORDER BY MES;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

+-------------+-----+
| mediadiaria | mes |
+-------------+-----+
|    211.0    |  5  |
+-------------+-----+

### 8.

In [65]:
%%sql 
SELECT Q.Nome FROM (
    SELECT U.Nome, COUNT(P.ID) as Count
    FROM Locacoes L
    JOIN Anfitrioes A ON L.IDLocatario = A.ID
    JOIN Usuarios U ON A.IDUsuario = U.ID
    JOIN Localizacoes Lo ON U.IDLocalizacao = Lo.ID
    JOIN Propriedades P ON L.IDPropriedade = P.ID
    GROUP BY U.Nome
) Q
WHERE Q.Count = 1 # trocar por > 3

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----------+
|   nome   |
+----------+
| Fernanda |
|  Amanda  |
|   João   |
|  Pedro   |
|  Carla   |
|   Ana    |
|   José   |
|  Lucas   |
|  Rafael  |
|  Maria   |
+----------+
Truncated to displaylimit of 10.

In [67]:
%%sql
SELECT U.Nome
FROM Usuarios U
JOIN Anfitrioes A ON U.ID = A.ID

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

10 rows affected.

+----------+
|   nome   |
+----------+
|  Maria   |
|   João   |
|   Ana    |
|  Pedro   |
|  Carla   |
|   José   |
|  Amanda  |
|  Lucas   |
| Fernanda |
|  Rafael  |
+----------+
Truncated to displaylimit of 10.