# Trabalho 2 de Banco de Dados - SCC0240

## Imports e Testes
Checando se tudo está funcionando

In [2]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [3]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

Deploy Dash apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql://postgres:***@localhost:5432/postgres'

Change displaylimit

In [4]:
%config SqlMagic.displaylimit = 20
%config SqlMagic.style = 'MARKDOWN'

In [5]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

## 3.1 Criação e carga de tabelas do Airbnb

In [6]:
%sql --file sql/5Airbnb.sql

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(psycopg2.errors.UndefinedColumn) column "date" of relation "calendar" does not exist

[SQL: COPY Calendar(listing_id, date, available, price)
FROM 'data/calendar.csv' DELIMITER ',' CSV HEADER;]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [6]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

## 3.2 Criação e carga de Tabelas mapeadas pelo MRel

In [7]:
# %%capture
%sql --file sql/5Tabelas.sql

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

||
||

In [8]:
%sql SELECT * FROM pg_catalog.pg_tables;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

88 rows affected.

| schemaname |       tablename       | tableowner | tablespace | hasindexes | hasrules | hastriggers | rowsecurity |
| :--------: | :-------------------: | :--------: | :--------: | :--------: | :------: | :---------: | :---------: |
|   public   |      propriedades     |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |      localizacoes     |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        usuarios       |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |       mensagens       |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        locacao        |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |    pontosinteresse    |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |         fotos         |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        quartos        |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |      comodidades      |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |         contas        |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |    datasdisponiveis   |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |         regras        |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        reviews        |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        listings       |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        calendar       |  postgres  |    None    |   False    |  False   |    False    |    False    |
| pg_catalog |      pg_statistic     |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |        pg_type        |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |    pg_foreign_table   |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |       pg_authid       |  postgres  | pg_global  |    True    |  False   |    False    |    False    |
| pg_catalog | pg_statistic_ext_data |  postgres  |    None    |    True    |  False   |    False    |    False    |
Truncated to displaylimit of 20.