# Trabalho 2 de Banco de Dados - SCC0240

In [1]:
import pandas as pd

## Imports e Testes
Checando se tudo está funcionando

In [2]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [3]:
%load_ext sql

engine = create_engine('postgresql://postgres:postgres@localhost/postgres')
%sql postgresql://postgres:postgres@localhost/postgres

Connecting to 'postgresql://postgres:***@localhost/postgres'

Change displaylimit

In [4]:
%config SqlMagic.displaylimit = 20
%config SqlMagic.style = 'MARKDOWN'

In [5]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

## 3. Criação e carga de tabelas

### 1. Criação de tabelas do Airbnb

In [6]:
%sql --file sql/3CriacaoAirbnb.sql

Running query in 'postgresql://postgres:***@localhost/postgres'

||
||

### 2. Carga de tabelas do Airbnb

In [7]:
! psql -U postgres -c "\copy Reviews from /tmp/reviews.csv delimiter ',' CSV HEADER;"
! psql -U postgres -c "\copy Listings from /tmp/listings.csv delimiter ',' CSV HEADER;"
! psql -U postgres -c "\copy Calendar from /tmp/calendar.csv delimiter ',' CSV HEADER;"

COPY 703796
COPY 36008

COPY 13145595

In [8]:
%%sql
UPDATE Listings 
SET name_ = CONCAT(
    SPLIT_PART(name_, '·', 1), 
    SPLIT_PART(name_, '·', 3),
    SPLIT_PART(name_, '·', 4), 
    SPLIT_PART(name_, '·', 5)
)

Running query in 'postgresql://postgres:***@localhost/postgres'

36008 rows affected.

||
||

In [9]:
%%sql 
SELECT COUNT(id), name_, host_id
FROM Listings
GROUP BY name_, host_id
ORDER BY count DESC

Running query in 'postgresql://postgres:***@localhost/postgres'

32519 rows affected.

| count |                              name_                              |  host_id  |
| :---: | :-------------------------------------------------------------: | :-------: |
|   32  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  6000862  |
|   27  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     | 371026651 |
|   22  | Serviced apartment in Barra da Tijuca  1 bedroom  1 bed  1 bath |  46664224 |
|   21  |          Rental unit in Rio de Janeiro  5 beds  2 baths         |  47584281 |
|   21  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  1982737  |
|   20  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  30165706 |
|   20  |  Serviced apartment in Rio de Janeiro  1 bedroom  1 bed  1 bath |  46664224 |
|   19  |       Rental unit in Copacabana  1 bedroom  2 beds  1 bath      |  6000862  |
|   17  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  6000862  |
|   16  |    Rental unit in Rio de Janeiro  2 bedrooms  2 beds  2 baths   | 341887136 |
|   16  |          Rental unit in Rio de Janeiro  2 beds  2 baths         | 341887136 |
|   14  |          Condo in Jacarepaguá  1 bedroom  1 bed  1 bath         | 331210726 |
|   13  |           Rental unit in Rio de Janeiro  1 bed  1 bath          |  4307081  |
|   13  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  74463624 |
|   12  |    Rental unit in Rio de Janeiro  2 bedrooms  5 beds  2 baths   |  47584281 |
|   12  |       Rental unit in Rio de Janeiro  1 bed  1 private bath      | 166827375 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  21365765 |
|   11  |      Rental unit in Rio de Janeiro  7 beds  2 shared baths      | 481290301 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    | 347487511 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  30165706 |
Truncated to displaylimit of 20.

### 3. Criação e carga de Tabelas mapeadas pelo MRel

In [13]:
%sql --file sql/2CriacaoTabelasMRel.sql

%sql --file sql/3CargaTabelasMRel.sql

Running query in 'postgresql://postgres:***@localhost/postgres'

Running query in 'postgresql://postgres:***@localhost/postgres'

36008 rows affected.

156 rows affected.

21980 rows affected.

32519 rows affected.

703796 rows affected.

6080206 rows affected.

||
||

In [ ]:
%sql SELECT * FROM pg_catalog.pg_tables;

Running query in 'postgresql://postgres:***@localhost/postgres'

88 rows affected.

| schemaname |       tablename       | tableowner | tablespace | hasindexes | hasrules | hastriggers | rowsecurity |
| :--------: | :-------------------: | :--------: | :--------: | :--------: | :------: | :---------: | :---------: |
|   public   |        usuarios       |  postgres  |    None    |    True    |  False   |     True    |    False    |
| pg_catalog |      pg_statistic     |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |        pg_type        |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |      localizacoes     |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |      propriedades     |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |       mensagens       |  postgres  |    None    |   False    |  False   |     True    |    False    |
|   public   |        locacao        |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |    pontosinteresse    |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |         fotos         |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |        quartos        |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |      comodidades      |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |         contas        |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |    datasdisponiveis   |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |         regras        |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |        reviews        |  postgres  |    None    |   False    |  False   |    False    |    False    |
|   public   |        listings       |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |        calendar       |  postgres  |    None    |   False    |  False   |    False    |    False    |
| pg_catalog |    pg_foreign_table   |  postgres  |    None    |    True    |  False   |    False    |    False    |
| pg_catalog |       pg_authid       |  postgres  | pg_global  |    True    |  False   |    False    |    False    |
| pg_catalog | pg_statistic_ext_data |  postgres  |    None    |    True    |  False   |    False    |    False    |
Truncated to displaylimit of 20.

In [ ]:
%%sql 
SELECT *
FROM Listings

Running query in 'postgresql://postgres:***@localhost/postgres'

36008 rows affected.

|   id   |                             name_                              | host_id |   host_name    | neighbourhood_group |  neighbourhood  |       latitude      |     longitude      |    room_type    | price | minimum_nights | number_of_reviews | last_review | reviews_per_month | calculated_host_listings_count | availability_365 | number_of_reviews_ltm | license |
| :----: | :------------------------------------------------------------: | :-----: | :------------: | :-----------------: | :-------------: | :-----------------: | :----------------: | :-------------: | :---: | :------------: | :---------------: | :---------: | :---------------: | :----------------------------: | :--------------: | :-------------------: | :-----: |
| 313223 |  Rental unit in Rio de Janeiro  1 bedroom  2 beds  1.5 baths   |  792218 |      Levy      |         None        |     Ipanema     |      -22.98377      |     -43.20067      | Entire home/apt |  924  |       2        |        168        |  2023-11-19 |        1.17       |               10               |       296        |           16          |   None  |
| 166972 |     Rental unit in Rio de Janeiro  Studio  3 beds  1 bath      |  795470 |  Luiz Otavio   |         None        |    Copacabana   |      -22.96614      |     -43.18401      | Entire home/apt |  550  |       3        |         8         |  2023-12-03 |        0.16       |               1                |       277        |           4           |   None  |
| 167031 |    Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  792218 |      Levy      |         None        |     Ipanema     |       -22.9869      |     -43.19286      | Entire home/apt |  877  |       2        |         84        |  2023-11-21 |        0.62       |               10               |       238        |           9           |   None  |
| 167932 |      Rental unit in Copacabana  1 bedroom  2 beds  1 bath      |  792218 |      Levy      |         None        |    Copacabana   |      -22.97064      |     -43.18496      | Entire home/apt |  571  |       2        |         95        |  2023-11-14 |        0.64       |               10               |       328        |           13          |   None  |
| 170265 | Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 shared bath |  811735 |     Ivana      |         None        | Barra da Tijuca |       -23.0102      |     -43.37246      |   Private room  |  400  |       2        |         4         |  2023-02-19 |        0.08       |               2                |       363        |           1           |   None  |
| 315102 |  Rental unit in Rio de Janeiro  1 bedroom  2 beds  1.5 baths   | 1618278 |      Andy      |         None        |     Ipanema     |      -22.98649      |     -43.19793      | Entire home/apt |  971  |       4        |         61        |  2023-11-21 |        0.46       |               2                |        83        |           6           |   None  |
| 315109 |   Rental unit in Rio de Janeiro  2 bedrooms  4 beds  2 baths   | 1618486 |     Denise     |         None        |     Ipanema     |       -22.9819      |     -43.20042      | Entire home/apt |  189  |       10       |         15        |  2015-04-22 |        0.1        |               2                |        52        |           0           |   None  |
| 479414 |   Rental unit in Rio de Janeiro  2 bedrooms  5 beds  2 baths   | 1114291 |     Felipe     |         None        |     Ipanema     | -22.985887826709334 | -43.19643187522887 | Entire home/apt |  1179 |       3        |        138        |  2023-11-05 |        0.99       |               1                |       168        |           1           |   None  |
| 480220 |    Rental unit in Rio de Janeiro  1 bedroom  3 beds  1 bath    | 1430897 | Flavia & Nando |         None        |     Ipanema     |      -22.98583      |     -43.19374      | Entire home/apt |  780  |       7        |        128        |  2023-12-05 |        0.92       |               2                |       306        |           9           |   None  |
| 170397 |           Rental unit in Rio  Studio  2 beds  1 bath           |  792218 |      Levy      |         None        |    Copacabana   |      -22.97135      |     -43.18779      | Entire home/apt |  671  |       2        |        125        |  2023-11-20 |        0.84       |               10               |        1         |           15          |   None  |
| 171505 |        Loft in Rio de Janeiro  1 bedroom  1 bed  1 bath        |  820276 |   Cristiana    |         None        |     Vidigal     |      -22.99327      |     -43.23481      | Entire home/apt |  468  |       3        |         5         |  2023-11-20 |        0.06       |               1                |       359        |           3           |   None  |
| 316652 |      Rental unit in Rio  1 bedroom  1 bed  1 private bath      | 1626226 |      Luiz      |         None        |     Botafogo    |      -22.94471      |     -43.18421      |   Private room  |  145  |       3        |        109        |  2023-07-11 |        0.75       |               1                |       175        |           10          |   None  |
| 172902 |    Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  792218 |      Levy      |         None        |    Copacabana   |      -22.98114      |     -43.19429      | Entire home/apt |  657  |       2        |        116        |  2023-11-20 |        0.77       |               10               |       316        |           11          |   None  |
| 321061 |           Rental unit in Copacabana  Studio  1 bath            | 1644610 |      Lisa      |         None        |    Copacabana   |      -22.984125     |     -43.190884     | Entire home/apt |  400  |       5        |         29        |  2023-11-18 |        1.4        |               1                |        26        |           15          |   None  |
| 483578 |   Rental unit in Rio de Janeiro  2 bedrooms  2 beds  2 baths   | 2394237 |     Leonor     |         None        | Barra da Tijuca |      -23.00665      |     -43.32398      | Entire home/apt |  None |       3        |         35        |  2023-02-26 |        0.25       |               1                |        0         |           1           |   None  |
| 173709 |    Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  829630 |    Luciana     |         None        |    Copacabana   |      -22.96104      |     -43.17647      | Entire home/apt |  406  |       2        |        100        |  2023-11-12 |        0.68       |               3                |        72        |           14          |   None  |
| 484267 |   Rental unit in Rio de Janeiro  2 bedrooms  2 beds  2 baths   | 2385085 |     Celia      |         None        |    Copacabana   |       -22.9857      |     -43.19045      | Entire home/apt |  881  |       2        |        208        |  2023-12-26 |        1.56       |               1                |       233        |           44          |   None  |
| 174101 |  Rental unit in Rio de Janeiro  2 bedrooms  2 beds  1.5 baths  |  259815 | Valerie & Alex |         None        |    Copacabana   |      -22.98015      |     -43.19098      | Entire home/apt |  1555 |       3        |        221        |  2023-12-19 |        1.47       |               2                |       144        |           17          |   None  |
| 176185 |      Condo in Rio de Janeiro  3 bedrooms  3 beds  2 baths      |  842466 |    Wolfgang    |         None        |    Copacabana   |      -22.98401      |     -43.19035      | Entire home/apt |  3751 |       4        |        171        |  2023-12-02 |        1.15       |               1                |       343        |           15          |   None  |
| 484296 |   Rental unit in Rio de Janeiro  2 bedrooms  4 beds  2 baths   | 2397409 |     Regina     |         None        | Barra da Tijuca |      -23.00439      |     -43.37633      | Entire home/apt |  192  |       2        |         15        |  2019-12-02 |        0.11       |               1                |        93        |           0           |   None  |
Truncated to displaylimit of 20.

In [ ]:
%%sql
SELECT *
FROM Reviews

Running query in 'postgresql://postgres:***@localhost/postgres'

703796 rows affected.

| listing_id |    date    |
| :--------: | :--------: |
|   17878    | 2010-07-15 |
|   326205   | 2012-04-18 |
|   17878    | 2010-08-11 |
|   17878    | 2010-09-06 |
|   17878    | 2010-11-12 |
|   17878    | 2010-12-01 |
|   17878    | 2010-12-12 |
|   17878    | 2010-12-19 |
|   17878    | 2011-02-07 |
|   326205   | 2012-06-07 |
|   326205   | 2012-06-12 |
|   326205   | 2012-06-20 |
|   326205   | 2012-07-03 |
|   326205   | 2012-07-26 |
|   216700   | 2012-06-18 |
|   17878    | 2011-02-22 |
|   17878    | 2011-03-01 |
|   17878    | 2011-03-20 |
|   17878    | 2011-03-30 |
|   216700   | 2012-06-24 |
Truncated to displaylimit of 20.

In [ ]:
%%sql
SELECT R.listing_id
FROM Listings L
JOIN Reviews R ON L.ID = R.listing_id

Running query in 'postgresql://postgres:***@localhost/postgres'

703796 rows affected.

| listing_id |
| :--------: |
|   17878    |
|   326205   |
|   17878    |
|   17878    |
|   17878    |
|   17878    |
|   17878    |
|   17878    |
|   17878    |
|   326205   |
|   326205   |
|   326205   |
|   326205   |
|   326205   |
|   216700   |
|   17878    |
|   17878    |
|   17878    |
|   17878    |
|   216700   |
Truncated to displaylimit of 20.

In [ ]:
%%sql
SELECT P.ID, R.date
FROM Reviews R
JOIN Listings L ON L.ID = R.listing_id 
JOIN Propriedades P ON (P.Nome, P.IDAnfitriao) = (L.name_, L.host_id);

Running query in 'postgresql://postgres:***@localhost/postgres'

703796 rows affected.

|   id  |    date    |
| :---: | :--------: |
|  2030 | 2010-07-15 |
|  1702 | 2012-04-18 |
|  2030 | 2010-08-11 |
|  2030 | 2010-09-06 |
|  2030 | 2010-11-12 |
|  2030 | 2010-12-01 |
|  2030 | 2010-12-12 |
|  2030 | 2010-12-19 |
|  2030 | 2011-02-07 |
|  1702 | 2012-06-07 |
|  1702 | 2012-06-12 |
|  1702 | 2012-06-20 |
|  1702 | 2012-07-03 |
|  1702 | 2012-07-26 |
| 19056 | 2012-06-18 |
|  2030 | 2011-02-22 |
|  2030 | 2011-03-01 |
|  2030 | 2011-03-20 |
|  2030 | 2011-03-30 |
| 19056 | 2012-06-24 |
Truncated to displaylimit of 20.

## 4. Consultas

### Exercício 6

In [ ]:
%sql SELECT * FROM Propriedades ORDER BY RANDOM() LIMIT 10;

Running query in 'postgresql://postgres:***@localhost/postgres'

10 rows affected.

|   id  |                              nome                              | endereco | idlocalizacao | idanfitriao | nquartos | nbanheiros | precodiaria | nmaxhospedes | minnoites | maxnoites | valorlimpeza | horacheckin | horacheckout | casainteira |
| :---: | :------------------------------------------------------------: | :------: | :-----------: | :---------: | :------: | :--------: | :---------: | :----------: | :-------: | :-------: | :----------: | :---------: | :----------: | :---------: |
| 29487 |         Rental unit in Rio de Janeiro  3 beds  4 baths         |   None   |       22      |   66039372  |   None   |    None    |    4342.0   |     None     |     1     |    None   |     None     |     None    |     None     |     None    |
| 30658 |         Rental unit in Rio de Janeiro  8 beds  3 baths         |   None   |       22      |  488605712  |   None   |    None    |    1500.0   |     None     |     5     |    None   |     None     |     None    |     None     |     None    |
|  864  |          Condo in Copacabana  1 bed  1.5 shared baths          |   None   |       22      |   72865722  |   None   |    None    |    226.0    |     None     |     2     |    None   |     None     |     None    |     None     |     None    |
|  7165 | Nature lodge in Santa Teresa  1 bedroom  1 bed  1 private bath |   None   |      104      |  111165788  |   None   |    None    |    2300.0   |     None     |     2     |    None   |     None     |     None    |     None     |     None    |
|  2220 |      Condo in Rio de Janeiro  2 bedrooms  3 beds  2 baths      |   None   |      133      |  475908438  |   None   |    None    |    686.0    |     None     |     2     |    None   |     None     |     None    |     None     |     None    |
| 18435 |    Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |   None   |       49      |  493699586  |   None   |    None    |    159.0    |     None     |     1     |    None   |     None     |     None    |     None     |     None    |
| 16474 |   Rental unit in Rio de Janeiro  1 bedroom  1 bed  1.5 baths   |   None   |       22      |   49791579  |   None   |    None    |    834.0    |     None     |     2     |    None   |     None     |     None    |     None     |     None    |
|  9904 |     Rental unit in Copacabana  2 bedrooms  2 beds  1 bath      |   None   |       22      |   27994357  |   None   |    None    |    1650.0   |     None     |     4     |    None   |     None     |     None    |     None     |     None    |
| 27222 |         Rental unit in Rio de Janeiro  2 beds  3 baths         |   None   |      116      |   32347263  |   None   |    None    |     75.0    |     None     |     1     |    None   |     None     |     None    |     None     |     None    |
|  4191 |             Home in Rio de Janeiro  1 bed  3 baths             |   None   |       72      |   78140890  |   None   |    None    |    193.0    |     None     |     6     |    None   |     None     |     None    |     None     |     None    |

In [ ]:
sql_query = """
SELECT
    CASE
        WHEN minnoites = 1 THEN '1'
        WHEN minnoites = 2 THEN '2'
        WHEN minnoites = 3 THEN '3'
        WHEN minnoites = 4 THEN '4'
        WHEN minnoites >= 5 THEN '5 ou mais'
    END AS MinNoites,
    COUNT(*) AS NumPropriedades
FROM
    Propriedades
GROUP BY
    CASE
        WHEN minnoites = 1 THEN '1'
        WHEN minnoites = 2 THEN '2'
        WHEN minnoites = 3 THEN '3'
        WHEN minnoites = 4 THEN '4'
        WHEN minnoites >= 5 THEN '5 ou mais'
    END
ORDER BY
    MinNoites;
"""

%sql {{sql_query}}

Running query in 'postgresql://postgres:***@localhost/postgres'

5 rows affected.

| minnoites | numpropriedades |
| :-------: | :-------------: |
|     1     |       8008      |
|     2     |       9390      |
|     3     |       7235      |
|     4     |       2674      |
| 5 ou mais |       5212      |

In [ ]:
%sql SELECT COUNT(*) AS NumeroLocalizacoes FROM Localizacoes;

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

| numerolocalizacoes |
| :----------------: |
|        156         |

### Exercício 7

In [ ]:
%sql --file sql/4Query7.sql

Running query in 'postgresql://postgres:***@localhost/postgres'

12 rows affected.

| mes |     precomedio     |
| :-: | :----------------: |
|  1  | 1340.9947690174577 |
|  2  | 1336.956078758397  |
|  3  | 1252.009881718175  |
|  4  | 1297.3154039455223 |
|  5  | 1291.2594455291928 |
|  6  | 1301.0582977855458 |
|  7  | 1360.7305691696188 |
|  8  | 1363.7079832535787 |
|  9  | 1383.6694099826725 |
|  10 | 1443.2146198132302 |
|  11 | 1436.4975684948815 |
|  12 | 1406.9930366870558 |

### Exercício 8

In [14]:
sql_query = """
SELECT
    U.ID,
    U.Nome, 
    L.Cidade,
    COUNT(P.ID) AS QuantidadeDeImoveis
FROM 
    Usuarios U
JOIN 
    Localizacoes L ON U.IDLocalizacao = L.ID
JOIN 
    Propriedades P ON U.ID = P.IDAnfitriao
GROUP BY 
    U.ID, U.Nome, L.Cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    QuantidadeDeImoveis DESC;
"""

# sem index
%sql DROP INDEX IF EXISTS indexAnfitriao;
%sql EXPLAIN ANALYZE {{sql_query}}

Running query in 'postgresql://postgres:***@localhost/postgres'

Running query in 'postgresql://postgres:***@localhost/postgres'

21 rows affected.

|                                                                  QUERY PLAN                                                                 |
| :-----------------------------------------------------------------------------------------------------------------------------------------: |
|                       Sort  (cost=2614.30..2632.62 rows=7327 width=35) (actual time=67.426..67.582 rows=1751 loops=1)                       |
|                                                          Sort Key: (count(p.id)) DESC                                                       |
|                                                     Sort Method: quicksort  Memory: 158kB                                                   |
|                  ->  HashAggregate  (cost=1869.19..2143.94 rows=7327 width=35) (actual time=61.899..66.753 rows=1751 loops=1)               |
|                                                              Group Key: u.id, l.cidade                                                      |
|                                                              Filter: (count(p.id) >= 3)                                                     |
|                                                           Batches: 1  Memory Usage: 3089kB                                                  |
|                                                            Rows Removed by Filter: 20229                                                    |
|                      ->  Hash Join  (cost=648.06..1625.30 rows=32519 width=31) (actual time=13.391..43.563 rows=32519 loops=1)              |
|                                                            Hash Cond: (u.idlocalizacao = l.id)                                              |
|                         ->  Hash Join  (cost=642.55..1532.11 rows=32519 width=20) (actual time=13.298..34.919 rows=32519 loops=1)           |
|                                                                Hash Cond: (p.idanfitriao = u.id)                                            |
|                       ->  Seq Scan on propriedades p  (cost=0.00..804.19 rows=32519 width=8) (actual time=0.004..3.854 rows=32519 loops=1)  |
|                               ->  Hash  (cost=367.80..367.80 rows=21980 width=16) (actual time=13.273..13.275 rows=21980 loops=1)           |
|                                                            Buckets: 32768  Batches: 1  Memory Usage: 1323kB                                 |
|                           ->  Seq Scan on usuarios u  (cost=0.00..367.80 rows=21980 width=16) (actual time=0.221..6.886 rows=21980 loops=1) |
|                                 ->  Hash  (cost=3.56..3.56 rows=156 width=19) (actual time=0.087..0.088 rows=156 loops=1)                   |
|                                                          Buckets: 1024  Batches: 1  Memory Usage: 16kB                                      |
|                         ->  Seq Scan on localizacoes l  (cost=0.00..3.56 rows=156 width=19) (actual time=0.011..0.040 rows=156 loops=1)     |
|                                                           Planning Time: 2.002 ms                                                           |
Truncated to displaylimit of 20.

In [15]:
# com index
%sql DROP INDEX IF EXISTS indexAnfitriao;
%sql CREATE INDEX indexAnfitriao ON Propriedades (IDAnfitriao);
%sql EXPLAIN ANALYZE {{sql_query}}

Running query in 'postgresql://postgres:***@localhost/postgres'

Running query in 'postgresql://postgres:***@localhost/postgres'

Running query in 'postgresql://postgres:***@localhost/postgres'

21 rows affected.

|                                                                  QUERY PLAN                                                                 |
| :-----------------------------------------------------------------------------------------------------------------------------------------: |
|                       Sort  (cost=2614.30..2632.62 rows=7327 width=35) (actual time=46.660..46.766 rows=1751 loops=1)                       |
|                                                          Sort Key: (count(p.id)) DESC                                                       |
|                                                     Sort Method: quicksort  Memory: 158kB                                                   |
|                  ->  HashAggregate  (cost=1869.19..2143.94 rows=7327 width=35) (actual time=42.854..46.276 rows=1751 loops=1)               |
|                                                              Group Key: u.id, l.cidade                                                      |
|                                                              Filter: (count(p.id) >= 3)                                                     |
|                                                           Batches: 1  Memory Usage: 3089kB                                                  |
|                                                            Rows Removed by Filter: 20229                                                    |
|                       ->  Hash Join  (cost=648.06..1625.30 rows=32519 width=31) (actual time=9.513..30.950 rows=32519 loops=1)              |
|                                                            Hash Cond: (u.idlocalizacao = l.id)                                              |
|                          ->  Hash Join  (cost=642.55..1532.11 rows=32519 width=20) (actual time=9.452..24.809 rows=32519 loops=1)           |
|                                                                Hash Cond: (p.idanfitriao = u.id)                                            |
|                       ->  Seq Scan on propriedades p  (cost=0.00..804.19 rows=32519 width=8) (actual time=0.003..2.509 rows=32519 loops=1)  |
|                                ->  Hash  (cost=367.80..367.80 rows=21980 width=16) (actual time=9.435..9.436 rows=21980 loops=1)            |
|                                                            Buckets: 32768  Batches: 1  Memory Usage: 1323kB                                 |
|                           ->  Seq Scan on usuarios u  (cost=0.00..367.80 rows=21980 width=16) (actual time=0.004..4.210 rows=21980 loops=1) |
|                                 ->  Hash  (cost=3.56..3.56 rows=156 width=19) (actual time=0.055..0.056 rows=156 loops=1)                   |
|                                                          Buckets: 1024  Batches: 1  Memory Usage: 16kB                                      |
|                         ->  Seq Scan on localizacoes l  (cost=0.00..3.56 rows=156 width=19) (actual time=0.013..0.030 rows=156 loops=1)     |
|                                                           Planning Time: 0.867 ms                                                           |
Truncated to displaylimit of 20.

In [16]:
%sql {{sql_query}}

Running query in 'postgresql://postgres:***@localhost/postgres'

1751 rows affected.

|     id    |         nome        |     cidade     | quantidadedeimoveis |
| :-------: | :-----------------: | :------------: | :-----------------: |
|  91654021 |        Daniel       | Rio de Janeiro |         104         |
|  1982737  |       Estadia       | Rio de Janeiro |          78         |
|  14315601 |        Aroldo       | Rio de Janeiro |          71         |
|  47584281 |        Renato       | Rio de Janeiro |          68         |
|  6000862  |     Omar Do Rio     | Rio de Janeiro |          66         |
| 371026651 |      Pineapples     | Rio de Janeiro |          63         |
| 341887136 |        Tabas        | Rio de Janeiro |          55         |
|  12909867 |       Giovanni      | Rio de Janeiro |          47         |
|  8975746  |       Line Rio      | Rio de Janeiro |          41         |
|  74463624 |        Mozart       | Rio de Janeiro |          40         |
|  22805631 |   Latin Exclusive   | Rio de Janeiro |          38         |
| 257601767 |     Raquel Grama    | Rio de Janeiro |          38         |
|  13580277 |        Marcio       | Rio de Janeiro |          37         |
|  2513825  |       Further       | Rio de Janeiro |          36         |
|  49207110 | Anfitriao Gente Boa | Rio de Janeiro |          35         |
|   532498  |         Luis        | Rio de Janeiro |          34         |
|  14314998 |      Rio Unique     | Rio de Janeiro |          34         |
|  1422607  |     Leo&Archanjo    | Rio de Janeiro |          34         |
| 392083762 |         Oka         | Rio de Janeiro |          33         |
|  60298129 |        Danide       | Rio de Janeiro |          32         |
Truncated to displaylimit of 20.

In [17]:
%%sql
SELECT
    U.ID,
    U.Nome, 
    L.Cidade,
    COUNT(P.ID) AS QuantidadeDeImoveis
FROM 
    Usuarios U
JOIN 
    Localizacoes L ON U.IDLocalizacao = L.ID
JOIN 
    Propriedades P ON U.ID = P.IDAnfitriao
GROUP BY 
    U.ID, U.Nome, L.Cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    QuantidadeDeImoveis DESC;

Running query in 'postgresql://postgres:***@localhost/postgres'

1751 rows affected.

|     id    |         nome        |     cidade     | quantidadedeimoveis |
| :-------: | :-----------------: | :------------: | :-----------------: |
|  91654021 |        Daniel       | Rio de Janeiro |         104         |
|  1982737  |       Estadia       | Rio de Janeiro |          78         |
|  14315601 |        Aroldo       | Rio de Janeiro |          71         |
|  47584281 |        Renato       | Rio de Janeiro |          68         |
|  6000862  |     Omar Do Rio     | Rio de Janeiro |          66         |
| 371026651 |      Pineapples     | Rio de Janeiro |          63         |
| 341887136 |        Tabas        | Rio de Janeiro |          55         |
|  12909867 |       Giovanni      | Rio de Janeiro |          47         |
|  8975746  |       Line Rio      | Rio de Janeiro |          41         |
|  74463624 |        Mozart       | Rio de Janeiro |          40         |
|  22805631 |   Latin Exclusive   | Rio de Janeiro |          38         |
| 257601767 |     Raquel Grama    | Rio de Janeiro |          38         |
|  13580277 |        Marcio       | Rio de Janeiro |          37         |
|  2513825  |       Further       | Rio de Janeiro |          36         |
|  49207110 | Anfitriao Gente Boa | Rio de Janeiro |          35         |
|   532498  |         Luis        | Rio de Janeiro |          34         |
|  14314998 |      Rio Unique     | Rio de Janeiro |          34         |
|  1422607  |     Leo&Archanjo    | Rio de Janeiro |          34         |
| 392083762 |         Oka         | Rio de Janeiro |          33         |
|  60298129 |        Danide       | Rio de Janeiro |          32         |
Truncated to displaylimit of 20.