# Trabalho 2 de Banco de Dados - SCC0240

In [6]:
import pandas as pd

## Imports e Testes
Checando se tudo está funcionando

In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [4]:
%load_ext sql

engine = create_engine('postgresql://postgres:postgres@localhost/postgres')
%sql postgresql://postgres:postgres@localhost/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting to 'postgresql://postgres:***@localhost/postgres'

Change displaylimit

In [21]:
%config SqlMagic.displaylimit = 20
%config SqlMagic.style = 'MARKDOWN'

In [22]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

## 3. Criação e carga de tabelas

### 1. Criação de tabelas do Airbnb

In [23]:
%sql --file sql/3CriacaoAirbnb.sql

Running query in 'postgresql://postgres:***@localhost/postgres'

||
||

### 2. Carga de tabelas do Airbnb

In [24]:
! psql -U postgres -c "\copy Reviews from /tmp/reviews.csv delimiter ',' CSV HEADER;"
! psql -U postgres -c "\copy Listings from /tmp/listings.csv delimiter ',' CSV HEADER;"
! psql -U postgres -c "\copy Calendar from /tmp/calendar.csv delimiter ',' CSV HEADER;"

COPY 402663
COPY 36008
COPY 13145595

In [66]:
%%sql
UPDATE Listings 
SET name_ = CONCAT(
    SPLIT_PART(name_, '·', 1), 
    SPLIT_PART(name_, '·', 3),
    SPLIT_PART(name_, '·', 4), 
    SPLIT_PART(name_, '·', 5)
)

Running query in 'postgresql://postgres:***@localhost/postgres'

36008 rows affected.

||
||

In [71]:
%%sql 
SELECT COUNT(id), name_, host_id
FROM Listings
GROUP BY name_, host_id
ORDER BY count DESC

Running query in 'postgresql://postgres:***@localhost/postgres'

32519 rows affected.

| count |                              name_                              |  host_id  |
| :---: | :-------------------------------------------------------------: | :-------: |
|   32  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  6000862  |
|   27  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     | 371026651 |
|   22  | Serviced apartment in Barra da Tijuca  1 bedroom  1 bed  1 bath |  46664224 |
|   21  |          Rental unit in Rio de Janeiro  5 beds  2 baths         |  47584281 |
|   21  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  1982737  |
|   20  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  30165706 |
|   20  |  Serviced apartment in Rio de Janeiro  1 bedroom  1 bed  1 bath |  46664224 |
|   19  |       Rental unit in Copacabana  1 bedroom  2 beds  1 bath      |  6000862  |
|   17  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  6000862  |
|   16  |    Rental unit in Rio de Janeiro  2 bedrooms  2 beds  2 baths   | 341887136 |
|   16  |          Rental unit in Rio de Janeiro  2 beds  2 baths         | 341887136 |
|   14  |          Condo in Jacarepaguá  1 bedroom  1 bed  1 bath         | 331210726 |
|   13  |           Rental unit in Rio de Janeiro  1 bed  1 bath          |  4307081  |
|   13  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  74463624 |
|   12  |    Rental unit in Rio de Janeiro  2 bedrooms  5 beds  2 baths   |  47584281 |
|   12  |       Rental unit in Rio de Janeiro  1 bed  1 private bath      | 166827375 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  21365765 |
|   11  |      Rental unit in Rio de Janeiro  7 beds  2 shared baths      | 481290301 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    | 347487511 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  30165706 |
Truncated to displaylimit of 20.

### 3. Criação e carga de Tabelas mapeadas pelo MRel

In [72]:
# %%capture
%sql --file sql/2CriacaoTabelasMRel.sql

%sql --file sql/3CargaTabelasMRel.sql

 * postgresql://postgres:***@localhost/trabbd
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
 * postgresql://postgres:***@localhost/trabbd
703796 rows affected.
6667756 rows affected.
156 rows affected.
36008 rows affected.
24462 rows affected.

[]

In [73]:
%sql SELECT * FROM pg_catalog.pg_tables;

 * postgresql://postgres:***@localhost/trabbd
85 rows affected.

[('pg_catalog', 'pg_statistic', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_type', 'postgres', None, True, False, False, False),
 ('public', 'propriedades', 'postgres', None, True, False, False, False),
 ('public', 'localizacoes', 'postgres', None, True, False, False, False),
 ('public', 'usuarios', 'postgres', None, False, False, False, False),
 ('public', 'mensagens', 'postgres', None, False, False, False, False),
 ('public', 'locacao', 'postgres', None, False, False, False, False),
 ('public', 'pontosinteresse', 'postgres', None, False, False, False, False),
 ('public', 'fotos', 'postgres', None, False, False, False, False),
 ('public', 'quartos', 'postgres', None, False, False, False, False),
 ('public', 'comodidades', 'postgres', None, False, False, False, False),
 ('public', 'contas', 'postgres', None, False, False, False, False),
 ('public', 'datasdisponiveis', 'postgres', None, False, False, False, False),
 ('public', 'regras', 'postgres', None, False, False, False, False),
 ('pg_catalog', 'pg_foreign_server', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_authid', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_statistic_ext_data', 'postgres', None, True, False, False, False),
 ('public', 'reviews', 'postgres', None, False, False, False, False),
 ('public', 'listings', 'postgres', None, False, False, False, False),
 ('public', 'calendar', 'postgres', None, False, False, False, False),
 ('pg_catalog', 'pg_user_mapping', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_attribute', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_proc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_class', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_attrdef', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_constraint', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_inherits', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_index', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_operator', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_opfamily', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_opclass', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_am', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_amop', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_amproc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_language', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_largeobject_metadata', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_aggregate', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_largeobject', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_statistic_ext', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_rewrite', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_trigger', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_event_trigger', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_description', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_cast', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_enum', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_namespace', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_conversion', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_depend', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_database', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_db_role_setting', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_tablespace', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_pltemplate', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_auth_members', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_shdepend', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_shdescription', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_ts_config', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_config_map', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_dict', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_parser', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_template', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_extension', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_data_wrapper', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_table', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_policy', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_replication_origin', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_default_acl', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_init_privs', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_seclabel', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_shseclabel', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_collation', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_partitioned_table', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_range', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_transform', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_sequence', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_publication', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_publication_rel', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription_rel', 'postgres', None, True, False, False, False),
 ('information_schema', 'sql_packages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_features', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_implementation_info', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_parts', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_languages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing_profiles', 'postgres', None, False, False, False, False)]

## 4. Consultas

### Exercício 6

In [74]:
%sql SELECT * FROM Propriedades ORDER BY RANDOM() LIMIT 10;

 * postgresql://postgres:***@localhost/trabbd
10 rows affected.

[(761040114387357006, 'Rental unit in Rio de Janeiro · ★5.0 · 1 bedroom · 2 beds · 1 bath', None, 51, 40877607, None, None, 614.0, None, 3, None, None, None, None, None),
 (14314355, 'Rental unit in Rio de Janeiro · 2 bedrooms · 1 bed · 2 baths', None, 119, 83748330, None, None, 964.0, None, 7, None, None, None, None, None),
 (38996111, 'Rental unit in Jacarepaguá · ★4.80 · 1 bedroom · 3 beds · 1 bath', None, 38, 298803263, None, None, 473.0, None, 3, None, None, None, None, None),
 (12985673, 'Rental unit in Rio de Janeiro · ★4.90 · 2 bedrooms · 2 beds · 2 baths', None, 99, 50607901, None, None, 876.0, None, 2, None, None, None, None, None),
 (775456276016614003, 'Hotel in Rio de Janeiro · 1 bedroom · 1 bed · 1 private bath', None, 119, 128990735, None, None, 857.0, None, 7, None, None, None, None, None),
 (610164796704160473, 'Rental unit in Copacabana · ★4.87 · 1 bedroom · 1 bed · 1 private bath', None, 41, 434348285, None, None, 657.0, None, 4, None, None, None, None, None),
 (32374354, 'Rental unit in Botafogo · ★4.67 · Studio · 5 beds · 1 bath', None, 24, 101282776, None, None, 121.0, None, 1, None, None, None, None, None),
 (2769769, 'Rental unit in Rio · ★4.75 · 1 bedroom · 1 bed · 1 private bath', None, 41, 14163574, None, None, 280.0, None, 3, None, None, None, None, None),
 (31689030, 'Rental unit in Barra da Tijuca · 1 bedroom · 3 beds · 1 bath', None, 99, 158386090, None, None, 600.0, None, 1, None, None, None, None, None),
 (6844257, 'Home in Rio de Janeiro · ★5.0 · 1 bedroom · 2 beds · 1 bath', None, 72, 10491771, None, None, 274.0, None, 5, None, None, None, None, None)]

In [76]:
sql_query = """
SELECT
    CASE
        WHEN minnoites = 1 THEN '1'
        WHEN minnoites = 2 THEN '2'
        WHEN minnoites = 3 THEN '3'
        WHEN minnoites = 4 THEN '4'
        WHEN minnoites >= 5 THEN '5 ou mais'
    END AS MinNoites,
    COUNT(*) AS NumPropriedades
FROM
    Propriedades
GROUP BY
    CASE
        WHEN minnoites = 1 THEN '1'
        WHEN minnoites = 2 THEN '2'
        WHEN minnoites = 3 THEN '3'
        WHEN minnoites = 4 THEN '4'
        WHEN minnoites >= 5 THEN '5 ou mais'
    END
ORDER BY
    MinNoites;
"""

%sql $sql_query

 * postgresql://postgres:***@localhost/trabbd
5 rows affected.

[('1', 9243), ('2', 10443), ('3', 7858), ('4', 2883), ('5 ou mais', 5581)]

In [77]:
%sql SELECT COUNT(*) AS NumeroLocalizacoes FROM Localizacoes;

 * postgresql://postgres:***@localhost/trabbd
1 rows affected.

[(156,)]

### Exercício 7

In [78]:
%sql --file sql/ex7.sql

 * postgresql://postgres:***@localhost/trabbd
Done.
12 rows affected.

[(1.0, 1329.1753055440604),
 (2.0, 1323.7826720229286),
 (3.0, 1242.4417729409627),
 (4.0, 1290.4259413334337),
 (5.0, 1286.8790061012612),
 (6.0, 1298.3419265975792),
 (7.0, 1354.2343028632836),
 (8.0, 1357.2291659674443),
 (9.0, 1378.3846521373125),
 (10.0, 1441.7579053498966),
 (11.0, 1434.3198859215672),
 (12.0, 1404.391295106963)]

### Exercício 8

In [101]:
sql_query = """
SELECT
    U.ID,
    U.Nome, 
    L.Cidade,
    COUNT(P.ID) AS QuantidadeDeImoveis
FROM 
    Usuarios U
JOIN 
    Localizacoes L ON U.IDLocalizacao = L.ID
JOIN 
    Propriedades P ON U.ID = P.IDAnfitriao
GROUP BY 
    U.ID, U.Nome, L.Cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    QuantidadeDeImoveis DESC;
"""

# sem index
%sql EXPLAIN ANALYZE $sql_query

 * postgresql://postgres:***@localhost/trabbd
20 rows affected.

[('Sort  (cost=4677.55..4695.86 rows=7327 width=35) (actual time=242.149..243.471 rows=2743 loops=1)',),
 ('  Sort Key: (count(p.id)) DESC',),
 ('  Sort Method: quicksort  Memory: 313kB',),
 ('  ->  HashAggregate  (cost=3932.44..4207.19 rows=7327 width=35) (actual time=234.848..240.387 rows=2743 loops=1)',),
 ('        Group Key: u.id, u.nome, l.cidade',),
 ('        Filter: (count(p.id) >= 3)',),
 ('        Rows Removed by Filter: 19237',),
 ('        ->  Hash Join  (cost=804.86..3192.26 rows=59214 width=35) (actual time=51.574..157.869 rows=68414 loops=1)',),
 ('              Hash Cond: (p.idanfitriao = u.id)',),
 ('              ->  Seq Scan on propriedades p  (cost=0.00..985.08 rows=36008 width=12) (actual time=0.032..23.789 rows=36008 loops=1)',),
 ('              ->  Hash  (cost=499.09..499.09 rows=24462 width=27) (actual time=51.525..51.539 rows=24462 loops=1)',),
 ('                    Buckets: 32768  Batches: 1  Memory Usage: 1673kB',),
 ('                    ->  Hash Join  (cost=5.51..499.09 rows=24462 width=27) (actual time=0.214..35.021 rows=24462 loops=1)',),
 ('                          Hash Cond: (u.idlocalizacao = l.id)',),
 ('                          ->  Seq Scan on usuarios u  (cost=0.00..427.62 rows=24462 width=16) (actual time=0.013..11.249 rows=24462 loops=1)',),
 ('                          ->  Hash  (cost=3.56..3.56 rows=156 width=19) (actual time=0.192..0.197 rows=156 loops=1)',),
 ('                                Buckets: 1024  Batches: 1  Memory Usage: 16kB',),
 ('                                ->  Seq Scan on localizacoes l  (cost=0.00..3.56 rows=156 width=19) (actual time=0.015..0.098 rows=156 loops=1)',),
 ('Planning Time: 0.361 ms',),
 ('Execution Time: 244.775 ms',)]

In [105]:
# com index
%sql DROP INDEX IF EXISTS indexAnfitriao;
%sql CREATE INDEX indexAnfitriao ON Propriedades (IDAnfitriao);
%sql EXPLAIN ANALYZE $sql_query

 * postgresql://postgres:***@localhost/trabbd
Done.
 * postgresql://postgres:***@localhost/trabbd
Done.
 * postgresql://postgres:***@localhost/trabbd
20 rows affected.

[('Sort  (cost=4677.55..4695.86 rows=7327 width=35) (actual time=163.256..164.544 rows=2743 loops=1)',),
 ('  Sort Key: (count(p.id)) DESC',),
 ('  Sort Method: quicksort  Memory: 313kB',),
 ('  ->  HashAggregate  (cost=3932.44..4207.19 rows=7327 width=35) (actual time=156.782..161.642 rows=2743 loops=1)',),
 ('        Group Key: u.id, u.nome, l.cidade',),
 ('        Filter: (count(p.id) >= 3)',),
 ('        Rows Removed by Filter: 19237',),
 ('        ->  Hash Join  (cost=804.86..3192.26 rows=59214 width=35) (actual time=38.531..108.793 rows=68414 loops=1)',),
 ('              Hash Cond: (p.idanfitriao = u.id)',),
 ('              ->  Seq Scan on propriedades p  (cost=0.00..985.08 rows=36008 width=12) (actual time=0.017..15.544 rows=36008 loops=1)',),
 ('              ->  Hash  (cost=499.09..499.09 rows=24462 width=27) (actual time=38.341..38.346 rows=24462 loops=1)',),
 ('                    Buckets: 32768  Batches: 1  Memory Usage: 1673kB',),
 ('                    ->  Hash Join  (cost=5.51..499.09 rows=24462 width=27) (actual time=0.145..26.329 rows=24462 loops=1)',),
 ('                          Hash Cond: (u.idlocalizacao = l.id)',),
 ('                          ->  Seq Scan on usuarios u  (cost=0.00..427.62 rows=24462 width=16) (actual time=0.012..8.512 rows=24462 loops=1)',),
 ('                          ->  Hash  (cost=3.56..3.56 rows=156 width=19) (actual time=0.129..0.130 rows=156 loops=1)',),
 ('                                Buckets: 1024  Batches: 1  Memory Usage: 16kB',),
 ('                                ->  Seq Scan on localizacoes l  (cost=0.00..3.56 rows=156 width=19) (actual time=0.012..0.067 rows=156 loops=1)',),
 ('Planning Time: 3.504 ms',),
 ('Execution Time: 166.159 ms',)]

In [106]:
%sql $sql_query

 * postgresql://postgres:***@localhost/trabbd
2743 rows affected.

[(91654021, 'Daniel', 'Rio de Janeiro', 2198),
 (371026651, 'Pineapples', 'Rio de Janeiro', 1664),
 (1982737, 'Estadia', 'Rio de Janeiro', 1420),
 (341887136, 'Tabas', 'Rio de Janeiro', 1305),
 (6000862, 'Omar Do Rio', 'Rio de Janeiro', 1295),
 (30165706, 'Yes Temporada', 'Rio de Janeiro', 1232),
 (47584281, 'Renato', 'Rio de Janeiro', 1136),
 (12909867, 'Giovanni', 'Rio de Janeiro', 690),
 (14315601, 'Aroldo', 'Rio de Janeiro', 680),
 (310319158, 'Suellen', 'Rio de Janeiro', 560),
 (160833906, 'RioHost', 'Rio de Janeiro', 533),
 (392083762, 'Oka', 'Rio de Janeiro', 473),
 (8975746, 'Line Rio', 'Rio de Janeiro', 450),
 (319227148, 'Anfitrião Prime', 'Rio de Janeiro', 420),
 (22805631, 'Latin Exclusive', 'Rio de Janeiro', 414),
 (2513825, 'Further', 'Rio de Janeiro', 400),
 (60298129, 'Danide', 'Rio de Janeiro', 400),
 (4005407, 'Erika', 'Rio de Janeiro', 385),
 (49207110, 'Anfitriao Gente Boa', 'Rio de Janeiro', 343),
 (74463624, 'Mozart', 'Rio de Janeiro', 320),
 (27229964, 'Beatriz', 'Rio de Janeiro', 315),
 (22713969, 'Maria', 'Rio de Janeiro', 304),
 (4255118, 'Ricardo', 'Rio de Janeiro', 294),
 (15533343, 'Yuri', 'Rio de Janeiro', 264),
 (8303861, 'Carlos Eduardo', 'Rio de Janeiro', 261),
 (153721, 'Shushma', 'Rio de Janeiro', 256),
 (13580277, 'Marcio', 'Rio de Janeiro', 255),
 (70646886, 'LuxoBrasil', 'Rio de Janeiro', 252),
 (4307081, 'Nereu A', 'Rio de Janeiro', 250),
 (1422607, 'Leo&Archanjo', 'Rio de Janeiro', 235),
 (2919803, 'Felipe', 'Rio de Janeiro', 230),
 (9270905, 'Carlos', 'Rio de Janeiro', 222),
 (257601767, 'Raquel Grama', 'Rio de Janeiro', 204),
 (92284964, 'BestStay', 'Rio de Janeiro', 200),
 (14314998, 'Rio Unique', 'Rio de Janeiro', 200),
 (10406037, 'Rio Houses', 'Rio de Janeiro', 196),
 (532498, 'Luis', 'Rio de Janeiro', 188),
 (468723322, 'Villas In Brazil', 'Rio de Janeiro', 182),
 (74652696, 'Andreia', 'Rio de Janeiro', 182),
 (36744189, 'Monica', 'Rio de Janeiro', 172),
 (13323106, 'Allan', 'Rio de Janeiro', 170),
 (149407, 'Ricardo', 'Rio de Janeiro', 168),
 (347487511, 'Rodrigo', 'Rio de Janeiro', 165),
 (21218739, 'Pedro', 'Rio de Janeiro', 156),
 (459544, 'Temporada', 'Rio de Janeiro', 155),
 (473492239, 'Mauricio', 'Rio de Janeiro', 155),
 (43898034, 'Giovani', 'Rio de Janeiro', 152),
 (26945147, 'Smartbnb', 'Rio de Janeiro', 152),
 (71645815, 'Adilson', 'Rio de Janeiro', 150),
 (137007102, 'FGibran', 'Rio de Janeiro', 144),
 (325713553, 'Filipe', 'Rio de Janeiro', 144),
 (21365765, 'Unhotel', 'Rio de Janeiro', 140),
 (146347544, 'Frédéric', 'Rio de Janeiro', 135),
 (102761308, 'Caio', 'Rio de Janeiro', 132),
 (318672692, 'Rafael', 'Rio de Janeiro', 130),
 (823800, 'Rafaella', 'Rio de Janeiro', 126),
 (113997985, 'HomeRio', 'Rio de Janeiro', 125),
 (321818201, 'Maria Luisa', 'Rio de Janeiro', 125),
 (292590334, 'Belsito Apartments', 'Rio de Janeiro', 123),
 (108643221, 'Celso Teixeira', 'Rio de Janeiro', 120),
 (231818330, 'Matheus', 'Rio de Janeiro', 119),
 (46664224, 'Rafael', 'Rio de Janeiro', 114),
 (378545175, 'Jorge Luiz', 'Rio de Janeiro', 112),
 (57671630, 'Leander', 'Rio de Janeiro', 110),
 (352008051, 'Marcolini', 'Rio de Janeiro', 108),
 (13359269, 'Antonio', 'Rio de Janeiro', 105),
 (10541644, 'Virginia', 'Rio de Janeiro', 100),
 (30721359, 'I Live Global', 'Rio de Janeiro', 100),
 (272976656, 'Marcus Vinícius', 'Rio de Janeiro', 96),
 (408071697, 'Gabriela', 'Rio de Janeiro', 95),
 (2438594, 'WhereInRio', 'Rio de Janeiro', 92),
 (23369184, 'Juliana - Temporada Curta', 'Rio de Janeiro', 90),
 (446405145, 'Joel', 'Rio de Janeiro', 90),
 (363700178, 'Ceres', 'Rio de Janeiro', 90),
 (148937129, 'Alessandra', 'Rio de Janeiro', 87),
 (21931975, 'Rio Temporada', 'Rio de Janeiro', 85),
 (5737780, 'Fabi', 'Rio de Janeiro', 85),
 (80329631, 'Neide', 'Rio de Janeiro', 84),
 (10423223, 'Carlos Rio Reservas', 'Rio de Janeiro', 84),
 (15275005, 'Jonas', 'Rio de Janeiro', 84),
 (249003418, 'Best', 'Rio de Janeiro', 81),
 (365760452, 'Rosi', 'Rio de Janeiro', 80),
 (84751001, 'Eveline', 'Rio de Janeiro', 80),
 (351259985, 'Carolina', 'Rio de Janeiro', 78),
 (164822022, 'Temporada', 'Rio de Janeiro', 78),
 (4420701, 'Gustavo', 'Rio de Janeiro', 77),
 (20370177, 'Sylvie', 'Rio de Janeiro', 76),
 (463844986, 'Lobie', 'Rio de Janeiro', 76),
 (366913236, 'Daniel', 'Rio de Janeiro', 75),
 (172345271, 'Monica', 'Rio de Janeiro', 75),
 (15900036, 'Israel Fagundes', 'Rio de Janeiro', 72),
 (83831825, 'Mi Casa Su Casa', 'Rio de Janeiro', 72),
 (397106841, 'Jump In', 'Rio de Janeiro', 70),
 (31226043, 'Alan', 'Rio de Janeiro', 68),
 (271367467, 'Anna', 'Rio de Janeiro', 66),
 (4376064, 'Anfitriões', 'Rio de Janeiro', 66),
 (6786750, 'Matteo', 'Rio de Janeiro', 64),
 (5615480, 'Andrea', 'Rio de Janeiro', 64),
 (463573876, 'Aran', 'Rio de Janeiro', 64),
 (229244053, 'Leda', 'Rio de Janeiro', 63),
 (13949537, 'Alexander', 'Rio de Janeiro', 63),
 (348293564, 'Juliana', 'Rio de Janeiro', 60),
 (10507162, 'Mauricio', 'Rio de Janeiro', 60),
 (11782291, 'Lucas', 'Rio de Janeiro', 60),
 (62031792, 'Rodrigo', 'Rio de Janeiro', 60),
 (167997008, 'Monica', 'Rio de Janeiro', 60),
 (27994357, 'Henrique', 'Rio de Janeiro', 60),
 (401229484, 'Manuella', 'Rio de Janeiro', 60),
 (39135642, 'Juliana', 'Rio de Janeiro', 60),
 (894049, 'Janara', 'Rio de Janeiro', 60),
 (167472593, 'Rio Stay Residence', 'Rio de Janeiro', 60),
 (238544772, 'Cesar', 'Rio de Janeiro', 57),
 (11070008, 'BlissRio', 'Rio de Janeiro', 55),
 (14095160, 'Claudia', 'Rio de Janeiro', 54),
 (36258642, 'Patrick', 'Rio de Janeiro', 52),
 (55128713, 'Normando', 'Rio de Janeiro', 52),
 (8669485, 'Adriano', 'Rio de Janeiro', 52),
 (25067261, 'Emma', 'Rio de Janeiro', 51),
 (10486509, 'Arno & Igor', 'Rio de Janeiro', 50),
 (62525920, 'Adriana', 'Rio de Janeiro', 50),
 (15925374, 'Luiz Renato', 'Rio de Janeiro', 48),
 (9226189, 'Débora', 'Rio de Janeiro', 48),
 (4438776, 'Elisabete', 'Rio de Janeiro', 48),
 (499353982, 'Comercial', 'Rio de Janeiro', 48),
 (211001893, 'Fabio', 'Rio de Janeiro', 48),
 (526672837, 'Minha Casa De Temporada', 'Rio de Janeiro', 48),
 (25130130, 'Fabio', 'Rio de Janeiro', 48),
 (90268480, 'Marcos', 'Rio de Janeiro', 48),
 (13411812, 'Fernando', 'Rio de Janeiro', 48),
 (3665789, 'Beta Gatti', 'Rio de Janeiro', 48),
 (16064460, 'Rômulo', 'Rio de Janeiro', 46),
 (148198271, 'Verônica', 'Rio de Janeiro', 45),
 (232555342, 'Regina', 'Rio de Janeiro', 45),
 (454830327, 'Clara', 'Rio de Janeiro', 45),
 (8364280, 'Jan', 'Rio de Janeiro', 45),
 (192303063, 'Sivaldo', 'Rio de Janeiro', 45),
 (77709888, 'Vanessa', 'Rio de Janeiro', 45),
 (315740743, 'Maicon', 'Rio de Janeiro', 44),
 (330224882, 'Josue', 'Rio de Janeiro', 44),
 (238604267, 'Claudia', 'Rio de Janeiro', 44),
 (8782308, 'Julia Zany', 'Rio de Janeiro', 44),
 (1577817, 'Olivier', 'Rio de Janeiro', 42),
 (35739862, 'Rodrigo', 'Rio de Janeiro', 42),
 (3018529, 'Marcia', 'Rio de Janeiro', 42),
 (83354976, 'Adriano', 'Rio de Janeiro', 40),
 (490978942, 'Hans', 'Rio de Janeiro', 40),
 (277358509, 'Flat Residence', 'Rio de Janeiro', 40),
 (11504031, 'Valdene', 'Rio de Janeiro', 40),
 (235177717, 'Claudio', 'Rio de Janeiro', 40),
 (79151243, 'Breno', 'Rio de Janeiro', 40),
 (2312911, 'Elena E Sergio', 'Rio de Janeiro', 39),
 (83729062, 'William', 'Rio de Janeiro', 39),
 (216622191, 'Marilene', 'Rio de Janeiro', 39),
 (13392098, 'Vinicio', 'Rio de Janeiro', 39),
 (10607843, 'Rio Hosting', 'Rio de Janeiro', 39),
 (601323, 'Laurent', 'Rio de Janeiro', 36),
 (492291708, 'Jacqueline', 'Rio de Janeiro', 36),
 (11323527, 'David', 'Rio de Janeiro', 36),
 (74338742, 'Atel', 'Rio de Janeiro', 36),
 (511384819, 'João Ricardo', 'Rio de Janeiro', 36),
 (272752257, 'Felipe', 'Rio de Janeiro', 36),
 (115138742, 'Karina', 'Rio de Janeiro', 36),
 (56259668, 'Sabrina Franklin', 'Rio de Janeiro', 36),
 (112504243, 'Sonia', 'Rio de Janeiro', 36),
 (166827375, 'More Só', 'Rio de Janeiro', 36),
 (66039372, 'Vitor & Carlos', 'Rio de Janeiro', 36),
 (503285061, 'Pedro', 'Rio de Janeiro', 36),
 (229472947, 'Valeska', 'Rio de Janeiro', 36),
 (34459302, 'Gisele', 'Rio de Janeiro', 35),
 (10823485, 'Vania', 'Rio de Janeiro', 35),
 (67255068, 'Home', 'Rio de Janeiro', 35),
 (302209040, 'Vinicius', 'Rio de Janeiro', 35),
 (13272749, 'Sonia', 'Rio de Janeiro', 35),
 (309591724, 'Renato', 'Rio de Janeiro', 34),
 (401842074, 'Nayana', 'Rio de Janeiro', 34),
 (489381613, 'Marcos Rodrigo', 'Rio de Janeiro', 33),
 (534675, 'Junior', 'Rio de Janeiro', 33),
 (44729495, 'Juliana', 'Rio de Janeiro', 32),
 (513685, 'Carlos', 'Rio de Janeiro', 32),
 (429775424, 'Helô', 'Rio de Janeiro', 32),
 (26414324, 'Alire Lima', 'Rio de Janeiro', 32),
 (8477603, 'Pamela', 'Rio de Janeiro', 32),
 (352599409, 'Best In Rio Stay Convention Suites', 'Rio de Janeiro', 30),
 (15013867, 'Fernanda', 'Rio de Janeiro', 30),
 (51227019, 'Pedro', 'Rio de Janeiro', 30),
 (36289458, 'Maria', 'Rio de Janeiro', 30),
 (70933, 'Goitaca', 'Rio de Janeiro', 30),
 (29475411, 'Bruno & Ricardo', 'Rio de Janeiro', 30),
 (10640170, 'Ana', 'Rio de Janeiro', 30),
 (4581272, 'Diogo Rio Habitat', 'Rio de Janeiro', 30),
 (13664216, 'Maria Lucia', 'Rio de Janeiro', 30),
 (12938211, 'Luxury Worldwide', 'Rio de Janeiro', 30),
 (224799115, 'Isabela', 'Rio de Janeiro', 30),
 (48024, 'Gustavo', 'Rio de Janeiro', 28),
 (67587712, 'Gabriel', 'Rio de Janeiro', 28),
 (249164320, 'Carlos Arthur', 'Rio de Janeiro', 28),
 (11386725, 'Carolina', 'Rio de Janeiro', 28),
 (39817386, 'Reserve', 'Rio de Janeiro', 28),
 (156636821, 'Thaissa', 'Rio de Janeiro', 28),
 (27709253, 'Eliane', 'Rio de Janeiro', 28),
 (521593918, 'Oka', 'Rio de Janeiro', 28),
 (12902528, 'Lilien', 'Rio de Janeiro', 28),
 (320261036, 'Jefferson', 'Rio de Janeiro', 28),
 (5838889, 'Marie', 'Rio de Janeiro', 28),
 (4284876, 'Silvia', 'Rio de Janeiro', 27),
 (13753183, 'Raíssa', 'Rio de Janeiro', 27),
 (1537641, 'Gilles', 'Rio de Janeiro', 27),
 (27909203, 'Sandra', 'Rio de Janeiro', 27),
 (483447030, 'Ruy', 'Rio de Janeiro', 27),
 (14015723, 'Geraldo & Simone', 'Rio de Janeiro', 27),
 (46226066, 'Alvar Mario', 'Rio de Janeiro', 27),
 (500936420, 'Fernanda', 'Rio de Janeiro', 27),
 (174004959, 'Jorge', 'Rio de Janeiro', 26),
 (98289727, 'Mm Aluguel Por Temporada', 'Rio de Janeiro', 26),
 (288667254, 'Cintia', 'Rio de Janeiro', 25),
 (9739433, 'Vivian', 'Rio de Janeiro', 24),
 (413577, 'Bernardo', 'Rio de Janeiro', 24),
 (4622315, 'Rafael', 'Rio de Janeiro', 24),
 (511069283, 'Copa', 'Rio de Janeiro', 24),
 (490731280, 'Gabriel', 'Rio de Janeiro', 24),
 (423192660, 'Erica', 'Rio de Janeiro', 24),
 (63954449, 'Jorge', 'Rio de Janeiro', 24),
 (26748682, 'Rose', 'Rio de Janeiro', 24),
 (523903815, 'Reinaldo', 'Rio de Janeiro', 24),
 (506564579, 'Simone', 'Rio de Janeiro', 24),
 (4106244, 'Guilherme', 'Rio de Janeiro', 24),
 (22240461, 'Tatiana', 'Rio de Janeiro', 24),
 (378854391, 'Stacy E Bueno', 'Rio de Janeiro', 24),
 (30975221, 'Rio Guests', 'Rio de Janeiro', 24),
 (13952932, 'Fabiana', 'Rio de Janeiro', 24),
 (85897939, 'Flavia Prista', 'Rio de Janeiro', 24),
 (78713589, 'Augusto', 'Rio de Janeiro', 24),
 (431676014, 'Sabrina', 'Rio de Janeiro', 24),
 (15175491, 'Pricila', 'Rio de Janeiro', 24),
 (222108450, 'Tatiana', 'Rio de Janeiro', 24),
 (2208473, 'Walbenir', 'Rio de Janeiro', 24),
 (203022450, 'Ronaldo', 'Rio de Janeiro', 24),
 (10467486, 'Carolina', 'Rio de Janeiro', 24),
 (406555768, 'Maria Helena', 'Rio de Janeiro', 24),
 (473819006, 'Mara', 'Rio de Janeiro', 24),
 (79244301, 'Fabiano', 'Rio de Janeiro', 24),
 (54899116, 'Rudá', 'Rio de Janeiro', 24),
 (1381764, 'Pineapples', 'Rio de Janeiro', 24),
 (8156211, 'Giovanna', 'Rio de Janeiro', 24),
 (160469308, 'Ursula', 'Rio de Janeiro', 24),
 (484129194, 'Clara', 'Rio de Janeiro', 24),
 (155819967, 'Carolina', 'Rio de Janeiro', 24),
 (135845476, 'Casa Do Mar', 'Rio de Janeiro', 24),
 (40151333, 'Rita', 'Rio de Janeiro', 24),
 (23488225, 'Max', 'Rio de Janeiro', 24),
 (26005554, 'Serginho Rauen VizooBuzios', 'Rio de Janeiro', 24),
 (406354831, 'Sheila', 'Rio de Janeiro', 24),
 (32429803, 'Milton', 'Rio de Janeiro', 24),
 (111551444, 'Fátima', 'Rio de Janeiro', 24),
 (15758557, 'Francisco', 'Rio de Janeiro', 22),
 (16023706, 'Secreto', 'Rio de Janeiro', 22),
 (479312966, 'Emilio', 'Rio de Janeiro', 22),
 (442712142, 'Meriele', 'Rio de Janeiro', 22),
 (177786203, 'Jocelyn', 'Rio de Janeiro', 22),
 (3890087, 'Peter', 'Rio de Janeiro', 22),
 (13635061, 'Adriana', 'Rio de Janeiro', 22),
 (330417921, 'Jeane Ormond', 'Rio de Janeiro', 21),
 (52557989, 'Alexandre', 'Rio de Janeiro', 21),
 (2537111, 'Barbara', 'Rio de Janeiro', 21),
 (66513543, 'Patricia', 'Rio de Janeiro', 21),
 (76710208, 'Alessandra', 'Rio de Janeiro', 21),
 (260411129, 'Monica', 'Rio de Janeiro', 20),
 (792218, 'Levy', 'Rio de Janeiro', 20),
 (445730956, 'Apart-Hotel Convention Rio Stay', 'Rio de Janeiro', 20),
 (2538304, 'Sonia', 'Rio de Janeiro', 20),
 (128400147, 'Debora', 'Rio de Janeiro', 20),
 (53588365, 'Maurício', 'Rio de Janeiro', 20),
 (485252166, 'Erivan', 'Rio de Janeiro', 20),
 (432143221, 'Marcus Vinicius', 'Rio de Janeiro', 20),
 (425294959, 'Rami', 'Rio de Janeiro', 20),
 (4873555, 'Pedro', 'Rio de Janeiro', 20),
 (363276049, 'Tainá', 'Rio de Janeiro', 20),
 (17325065, 'Artur', 'Rio de Janeiro', 20),
 (451977285, 'Flávio', 'Rio de Janeiro', 20),
 (240364027, 'Debora', 'Rio de Janeiro', 20),
 (116135653, 'Hugo', 'Rio de Janeiro', 20),
 (145176530, 'Marco', 'Rio de Janeiro', 20),
 (278641760, 'Alberto', 'Rio de Janeiro', 20),
 (163618992, 'HomeStays', 'Rio de Janeiro', 20),
 (443318137, 'Vitor', 'Rio de Janeiro', 20),
 (201418761, 'Carlos', 'Rio de Janeiro', 20),
 (467605641, 'Hostel Princess', 'Rio de Janeiro', 19),
 (213230578, 'Alexandre', 'Rio de Janeiro', 19),
 (5532376, 'Andre', 'Rio de Janeiro', 18),
 (171632668, 'Andre Luiz', 'Rio de Janeiro', 18),
 (158098971, 'Myrian', 'Rio de Janeiro', 18),
 (346082128, 'SNS Patrimonial E Serviços Ltda', 'Rio de Janeiro', 18),
 (11389355, 'Leticia', 'Rio de Janeiro', 18),
 (155118499, 'Phellipe', 'Rio de Janeiro', 18),
 (89566669, 'Helena', 'Rio de Janeiro', 18),
 (474221, 'June', 'Rio de Janeiro', 18),
 (337762439, 'Thiago', 'Rio de Janeiro', 18),
 (297672983, 'Hotel', 'Rio de Janeiro', 18),
 (494964, 'Beatriz', 'Rio de Janeiro', 18),
 (17070351, 'Carlos', 'Rio de Janeiro', 18),
 (231159376, 'Ursula', 'Rio de Janeiro', 18),
 (544744044, 'A2', 'Rio de Janeiro', 18),
 (30669035, 'Aldomir', 'Rio de Janeiro', 18),
 (164177980, 'Flávia', 'Rio de Janeiro', 18),
 (11411976, 'Paula', 'Rio de Janeiro', 18),
 (78598801, 'Cláudia', 'Rio de Janeiro', 18),
 (224192, 'David', 'Rio de Janeiro', 18),
 (5862587, 'Paula', 'Rio de Janeiro', 18),
 (113346982, 'Stefan', 'Rio de Janeiro', 18),
 (56337810, 'Socorro Costa', 'Rio de Janeiro', 18),
 (271615742, 'Rita', 'Rio de Janeiro', 18),
 (32416144, 'Alexandre', 'Rio de Janeiro', 18),
 (510646750, 'Carlos', 'Rio de Janeiro', 18),
 (431412286, 'Carlos Henrique', 'Rio de Janeiro', 18),
 (444172537, 'Marie', 'Rio de Janeiro', 18),
 (491350351, 'Fernanda', 'Rio de Janeiro', 18),
 (39695742, 'Alberto', 'Rio de Janeiro', 18),
 (4036979, 'Daniela', 'Rio de Janeiro', 18),
 (475340957, 'Adv', 'Rio de Janeiro', 18),
 (58857593, 'Luiza', 'Rio de Janeiro', 18),
 (370073187, 'Jeferson', 'Rio de Janeiro', 18),
 (47248185, 'Maria Luiza', 'Rio de Janeiro', 18),
 (115075111, 'Lis', 'Rio de Janeiro', 18),
 (13832827, 'Bernardo', 'Rio de Janeiro', 18),
 (536600082, 'Laris', 'Rio de Janeiro', 18),
 (423392969, 'Thiago', 'Rio de Janeiro', 18),
 (240289, 'Maria', 'Rio de Janeiro', 18),
 (5573690, 'Luciana', 'Rio de Janeiro', 18),
 (494160174, 'Brunno Gabriel', 'Rio de Janeiro', 18),
 (27149197, 'Maria Luisa', 'Rio de Janeiro', 18),
 (10344782, 'Ney', 'Rio de Janeiro', 18),
 (37238144, 'Rafaele Bispo', 'Rio de Janeiro', 17),
 (116235207, 'Paulo', 'Rio de Janeiro', 16),
 (58769289, 'Monica', 'Rio de Janeiro', 16),
 (514115445, 'Juan Angel', 'Rio de Janeiro', 16),
 (21648920, 'Meu Anfitrião', 'Rio de Janeiro', 16),
 (48720390, 'Fariza', 'Rio de Janeiro', 16),
 (266121934, 'Beatriz', 'Rio de Janeiro', 16),
 (331210726, 'Ricardo', 'Rio de Janeiro', 16),
 (228237182, 'Eliane', 'Rio de Janeiro', 16),
 (95117133, 'Raissa', 'Rio de Janeiro', 16),
 (62913860, 'Rodolfo', 'Rio de Janeiro', 16),
 (61714845, 'Paulo', 'Rio de Janeiro', 16),
 (442620033, 'Lidia Nayara', 'Rio de Janeiro', 16),
 (150144948, 'Renan', 'Rio de Janeiro', 16),
 (5866883, 'Aline', 'Rio de Janeiro', 16),
 (64294308, 'Terezinha', 'Rio de Janeiro', 16),
 (56179426, 'Pedro', 'Rio de Janeiro', 16),
 (16141644, 'Patricia', 'Rio de Janeiro', 16),
 (303124704, 'Marco', 'Rio de Janeiro', 16),
 (98040033, 'Patricia', 'Rio de Janeiro', 16),
 (131669310, 'Bruno & Marcos', 'Rio de Janeiro', 16),
 (152441811, 'Thiago', 'Rio de Janeiro', 16),
 (206038342, 'Cláudia', 'Rio de Janeiro', 16),
 (433611205, 'Joao', 'Rio de Janeiro', 16),
 (63099507, 'Fabiani', 'Rio de Janeiro', 16),
 (10546234, 'Patricia', 'Rio de Janeiro', 15),
 (61984959, 'Fabio', 'Rio de Janeiro', 15),
 (113889162, 'Thais', 'Rio de Janeiro', 15),
 (63899823, 'Go To Rio Rentals', 'Rio de Janeiro', 15),
 (242965430, 'Anderson', 'Rio de Janeiro', 15),
 (11647707, 'Rose', 'Rio de Janeiro', 15),
 (72593893, 'Mariana', 'Rio de Janeiro', 15),
 (336908, 'Alexandre', 'Rio de Janeiro', 15),
 (415432275, 'Sunset Rio', 'Rio de Janeiro', 15),
 (168203934, 'Flavia', 'Rio de Janeiro', 15),
 (32987257, 'Angela', 'Rio de Janeiro', 15),
 (84048033, 'Frederic', 'Rio de Janeiro', 15),
 (15991909, 'Yona', 'Rio de Janeiro', 15),
 (25644407, 'Vera', 'Rio de Janeiro', 15),
 (398674687, 'Taisa E Vitor', 'Rio de Janeiro', 15),
 (477833142, 'André', 'Rio de Janeiro', 15),
 (475193730, 'Carolinna', 'Rio de Janeiro', 15),
 (200621357, 'Marcela', 'Rio de Janeiro', 15),
 (27377433, 'Celso', 'Rio de Janeiro', 15),
 (296430347, 'Rodrigo', 'Rio de Janeiro', 14),
 (6668899, 'Paulo Marcos', 'Rio de Janeiro', 14),
 (652627, 'Ana', 'Rio de Janeiro', 14),
 (130642381, 'Mahnai', 'Rio de Janeiro', 14),
 (6213964, 'Efigenia', 'Rio de Janeiro', 14),
 (270247199, 'Aqui Eu Rio', 'Rio de Janeiro', 14),
 (172482654, 'Evilene', 'Rio de Janeiro', 14),
 (506284318, 'Cristiano', 'Rio de Janeiro', 14),
 (5967632, 'Doni', 'Rio de Janeiro', 14),
 (497786, 'Butterfly Vanazul', 'Rio de Janeiro', 14),
 (10564794, 'Eduardo', 'Rio de Janeiro', 14),
 (170522649, 'João Pedro', 'Rio de Janeiro', 14),
 (24521701, 'Fatima', 'Rio de Janeiro', 14),
 (3746246, 'Ghizlane', 'Rio de Janeiro', 14),
 (390140856, 'Heron', 'Rio de Janeiro', 14),
 (248739218, 'Maria', 'Rio de Janeiro', 14),
 (221597210, 'Marcilene', 'Rio de Janeiro', 14),
 (171869673, 'Denise', 'Rio de Janeiro', 14),
 (175671577, 'Top House', 'Rio de Janeiro', 14),
 (43594754, 'AnaCecilia', 'Rio de Janeiro', 14),
 (35297336, 'Natalia', 'Rio de Janeiro', 14),
 (481290301, 'Wallace', 'Rio de Janeiro', 14),
 (13501097, 'Enzo', 'Rio de Janeiro', 14),
 (3802101, 'Katya', 'Rio de Janeiro', 14),
 (318163118, 'Renata', 'Rio de Janeiro', 14),
 (446253282, 'Flavia', 'Rio de Janeiro', 14),
 (153667273, 'Fernando', 'Rio de Janeiro', 14),
 (327244298, 'Daniel', 'Rio de Janeiro', 14),
 (13498004, 'Fabio', 'Rio de Janeiro', 14),
 (18117704, 'Rafael', 'Rio de Janeiro', 14),
 (458980426, 'Eduardo', 'Rio de Janeiro', 14),
 (167576710, 'Marco', 'Rio de Janeiro', 14),
 (84909629, 'Juan', 'Rio de Janeiro', 14),
 (228348887, 'Hélio', 'Rio de Janeiro', 13),
 (202660425, 'Leila', 'Rio de Janeiro', 13),
 (67850207, 'Tupiniquim Hostel', 'Rio de Janeiro', 13),
 (152217261, 'Taina', 'Rio de Janeiro', 12),
 (496656, 'Marcia  Longras', 'Rio de Janeiro', 12),
 (543866171, 'Fabian', 'Rio de Janeiro', 12),
 (421420448, 'Vinicius', 'Rio de Janeiro', 12),
 (412334312, 'Raul', 'Rio de Janeiro', 12),
 (27175729, 'Evandro', 'Rio de Janeiro', 12),
 (302575174, 'Helmar Oliveira', 'Rio de Janeiro', 12),
 (57163425, 'Jardel', 'Rio de Janeiro', 12),
 (12180348, 'Diogo', 'Rio de Janeiro', 12),
 (366265885, 'Carla', 'Rio de Janeiro', 12),
 (15025261, 'Eliana', 'Rio de Janeiro', 12),
 (1168587, 'Patricia', 'Rio de Janeiro', 12),