# Trabalho 2 de Banco de Dados - SCC0240

In [6]:
import pandas as pd

## Imports e Testes
Checando se tudo está funcionando

In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [4]:
%load_ext sql

engine = create_engine('postgresql://postgres:postgres@localhost/postgres')
%sql postgresql://postgres:postgres@localhost/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting to 'postgresql://postgres:***@localhost/postgres'

Change displaylimit

In [21]:
%config SqlMagic.displaylimit = 20
%config SqlMagic.style = 'MARKDOWN'

In [22]:
%%sql
SELECT Current_database();

Running query in 'postgresql://postgres:***@localhost/postgres'

1 rows affected.

| current_database |
| :--------------: |
|     postgres     |

## 3. Criação e carga de tabelas

### 1. Criação de tabelas do Airbnb

In [23]:
%sql --file sql/3CriacaoAirbnb.sql

Running query in 'postgresql://postgres:***@localhost/postgres'

||
||

### 2. Carga de tabelas do Airbnb

In [24]:
! psql -U postgres -c "\copy Reviews from /tmp/reviews.csv delimiter ',' CSV HEADER;"
! psql -U postgres -c "\copy Listings from /tmp/listings.csv delimiter ',' CSV HEADER;"
! psql -U postgres -c "\copy Calendar from /tmp/calendar.csv delimiter ',' CSV HEADER;"

COPY 402663
COPY 36008
COPY 13145595

In [66]:
%%sql
UPDATE Listings 
SET name_ = CONCAT(
    SPLIT_PART(name_, '·', 1), 
    SPLIT_PART(name_, '·', 3),
    SPLIT_PART(name_, '·', 4), 
    SPLIT_PART(name_, '·', 5)
)

Running query in 'postgresql://postgres:***@localhost/postgres'

36008 rows affected.

||
||

In [71]:
%%sql 
SELECT COUNT(id), name_, host_id
FROM Listings
GROUP BY name_, host_id
ORDER BY count DESC

Running query in 'postgresql://postgres:***@localhost/postgres'

32519 rows affected.

| count |                              name_                              |  host_id  |
| :---: | :-------------------------------------------------------------: | :-------: |
|   32  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  6000862  |
|   27  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     | 371026651 |
|   22  | Serviced apartment in Barra da Tijuca  1 bedroom  1 bed  1 bath |  46664224 |
|   21  |          Rental unit in Rio de Janeiro  5 beds  2 baths         |  47584281 |
|   21  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  1982737  |
|   20  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  30165706 |
|   20  |  Serviced apartment in Rio de Janeiro  1 bedroom  1 bed  1 bath |  46664224 |
|   19  |       Rental unit in Copacabana  1 bedroom  2 beds  1 bath      |  6000862  |
|   17  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  6000862  |
|   16  |    Rental unit in Rio de Janeiro  2 bedrooms  2 beds  2 baths   | 341887136 |
|   16  |          Rental unit in Rio de Janeiro  2 beds  2 baths         | 341887136 |
|   14  |          Condo in Jacarepaguá  1 bedroom  1 bed  1 bath         | 331210726 |
|   13  |           Rental unit in Rio de Janeiro  1 bed  1 bath          |  4307081  |
|   13  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    |  74463624 |
|   12  |    Rental unit in Rio de Janeiro  2 bedrooms  5 beds  2 baths   |  47584281 |
|   12  |       Rental unit in Rio de Janeiro  1 bed  1 private bath      | 166827375 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  21365765 |
|   11  |      Rental unit in Rio de Janeiro  7 beds  2 shared baths      | 481290301 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath    | 347487511 |
|   11  |     Rental unit in Rio de Janeiro  1 bedroom  1 bed  1 bath     |  30165706 |
Truncated to displaylimit of 20.

### 3. Criação e carga de Tabelas mapeadas pelo MRel

In [158]:
# %%capture
%sql --file sql/2CriacaoTabelasMRel.sql

%sql --file sql/3CargaTabelasMRel.sql

 * postgresql://postgres:***@localhost/trabbd
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
 * postgresql://postgres:***@localhost/trabbd
36008 rows affected.
156 rows affected.
32519 rows affected.
21980 rows affected.
703796 rows affected.
6080206 rows affected.

[]

In [141]:
%sql SELECT * FROM pg_catalog.pg_tables;

 * postgresql://postgres:***@localhost/trabbd
85 rows affected.

[('pg_catalog', 'pg_statistic', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_type', 'postgres', None, True, False, False, False),
 ('public', 'reviews', 'postgres', None, False, False, False, False),
 ('public', 'listings', 'postgres', None, True, False, False, False),
 ('public', 'calendar', 'postgres', None, False, False, False, False),
 ('public', 'propriedades', 'postgres', None, True, False, False, False),
 ('public', 'localizacoes', 'postgres', None, True, False, False, False),
 ('public', 'usuarios', 'postgres', None, True, False, False, False),
 ('public', 'mensagens', 'postgres', None, False, False, False, False),
 ('public', 'locacao', 'postgres', None, True, False, False, False),
 ('public', 'pontosinteresse', 'postgres', None, True, False, False, False),
 ('public', 'fotos', 'postgres', None, True, False, False, False),
 ('public', 'quartos', 'postgres', None, True, False, False, False),
 ('public', 'comodidades', 'postgres', None, True, False, False, False),
 ('public', 'contas', 'postgres', None, True, False, False, False),
 ('public', 'datasdisponiveis', 'postgres', None, True, False, False, False),
 ('public', 'regras', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_server', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_authid', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_statistic_ext_data', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_user_mapping', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_attribute', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_proc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_class', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_attrdef', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_constraint', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_inherits', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_index', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_operator', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_opfamily', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_opclass', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_am', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_amop', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_amproc', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_language', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_largeobject_metadata', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_aggregate', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_largeobject', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_statistic_ext', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_rewrite', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_trigger', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_event_trigger', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_description', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_cast', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_enum', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_namespace', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_conversion', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_depend', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_database', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_db_role_setting', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_tablespace', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_pltemplate', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_auth_members', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_shdepend', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_shdescription', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_ts_config', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_config_map', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_dict', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_parser', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_ts_template', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_extension', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_data_wrapper', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_foreign_table', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_policy', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_replication_origin', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_default_acl', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_init_privs', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_seclabel', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_shseclabel', 'postgres', 'pg_global', True, False, False, False),
 ('pg_catalog', 'pg_collation', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_partitioned_table', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_range', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_transform', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_sequence', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_publication', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_publication_rel', 'postgres', None, True, False, False, False),
 ('pg_catalog', 'pg_subscription_rel', 'postgres', None, True, False, False, False),
 ('information_schema', 'sql_packages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_features', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_implementation_info', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_parts', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_languages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing_profiles', 'postgres', None, False, False, False, False)]

## 4. Consultas

### Exercício 6

In [159]:
%sql SELECT * FROM Propriedades ORDER BY RANDOM() LIMIT 10;

 * postgresql://postgres:***@localhost/trabbd
10 rows affected.

[(22127, 'Rental unit in Rio de Janeiro  1 bedroom  3 beds  1 bath', None, 50, 235745144, None, None, 600.0, None, 5, None, None, None, None, None),
 (1910, 'Condo in Rio de Janeiro  1 bedroom  2 beds  1.5 baths', None, 99, 28016674, None, None, 5886.0, None, 4, None, None, None, None, None),
 (4191, 'Home in Rio de Janeiro  1 bedroom  1 bed  1 bath', None, 98, 214796650, None, None, 129.0, None, 1, None, None, None, None, None),
 (20215, 'Rental unit in Rio de Janeiro  1 bedroom  2 beds  1 bath', None, 50, 36174304, None, None, 750.0, None, 3, None, None, None, None, None),
 (14746, 'Rental unit in Rio de Janeiro  1 bed  1 bath', None, 49, 29197201, None, None, 145.0, None, 2, None, None, None, None, None),
 (15985, 'Rental unit in Rio de Janeiro  1 bed  1.5 baths', None, 41, 125147687, None, None, 532.0, None, 1, None, None, None, None, None),
 (5643, 'Home in Rio de Janeiro  6 beds  3 baths', None, 115, 486901528, None, None, 1800.0, None, 1, None, None, None, None, None),
 (19492, 'Rental unit in Rio de Janeiro  1 bedroom  1 bed  2 baths', None, 34, 39655880, None, None, 1466.0, None, 3, None, None, None, None, None),
 (9621, 'Rental unit in Copacabana  1 bedroom  3 beds  1 bath', None, 41, 47629070, None, None, 902.0, None, 2, None, None, None, None, None),
 (29242, 'Rental unit in Rio de Janeiro  3 beds  2.5 baths', None, 115, 54724963, None, None, 1538.0, None, 5, None, None, None, None, None)]

In [160]:
sql_query = """
SELECT
    CASE
        WHEN minnoites = 1 THEN '1'
        WHEN minnoites = 2 THEN '2'
        WHEN minnoites = 3 THEN '3'
        WHEN minnoites = 4 THEN '4'
        WHEN minnoites >= 5 THEN '5 ou mais'
    END AS MinNoites,
    COUNT(*) AS NumPropriedades
FROM
    Propriedades
GROUP BY
    CASE
        WHEN minnoites = 1 THEN '1'
        WHEN minnoites = 2 THEN '2'
        WHEN minnoites = 3 THEN '3'
        WHEN minnoites = 4 THEN '4'
        WHEN minnoites >= 5 THEN '5 ou mais'
    END
ORDER BY
    MinNoites;
"""

%sql $sql_query

 * postgresql://postgres:***@localhost/trabbd
5 rows affected.

[('1', 8008), ('2', 9390), ('3', 7235), ('4', 2674), ('5 ou mais', 5212)]

In [161]:
%sql SELECT COUNT(*) AS NumeroLocalizacoes FROM Localizacoes;

 * postgresql://postgres:***@localhost/trabbd
1 rows affected.

[(156,)]

### Exercício 7

In [162]:
%sql --file sql/ex7.sql

 * postgresql://postgres:***@localhost/trabbd
Done.
12 rows affected.

[(1.0, 1340.9947690174577),
 (2.0, 1336.956078758397),
 (3.0, 1252.009881718175),
 (4.0, 1297.3154039455223),
 (5.0, 1291.2594455291928),
 (6.0, 1301.0582977855458),
 (7.0, 1360.7305691696188),
 (8.0, 1363.7079832535787),
 (9.0, 1383.6694099826725),
 (10.0, 1443.2146198132302),
 (11.0, 1436.4975684948815),
 (12.0, 1406.9930366870558)]

### Exercício 8

In [168]:
sql_query = """
SELECT
    U.ID,
    U.Nome, 
    L.Cidade,
    COUNT(P.ID) AS QuantidadeDeImoveis
FROM 
    Usuarios U
JOIN 
    Localizacoes L ON U.IDLocalizacao = L.ID
JOIN 
    Propriedades P ON U.ID = P.IDAnfitriao
GROUP BY 
    U.ID, U.Nome, L.Cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    QuantidadeDeImoveis DESC;
"""

# sem index
%sql DROP INDEX IF EXISTS indexAnfitriao;
%sql EXPLAIN ANALYZE $sql_query

 * postgresql://postgres:***@localhost/trabbd
Done.
 * postgresql://postgres:***@localhost/trabbd
20 rows affected.

[('Sort  (cost=2711.60..2729.91 rows=7327 width=35) (actual time=198.588..200.254 rows=1751 loops=1)',),
 ('  Sort Key: (count(p.id)) DESC',),
 ('  Sort Method: quicksort  Memory: 186kB',),
 ('  ->  HashAggregate  (cost=1966.49..2241.24 rows=7327 width=35) (actual time=185.536..197.095 rows=1751 loops=1)',),
 ('        Group Key: u.id, l.cidade',),
 ('        Filter: (count(p.id) >= 3)',),
 ('        Rows Removed by Filter: 20229',),
 ('        ->  Hash Join  (cost=664.06..1641.30 rows=32519 width=31) (actual time=27.277..144.385 rows=32519 loops=1)',),
 ('              Hash Cond: (u.idlocalizacao = l.id)',),
 ('              ->  Hash Join  (cost=658.55..1548.11 rows=32519 width=20) (actual time=27.076..104.513 rows=32519 loops=1)',),
 ('                    Hash Cond: (p.idanfitriao = u.id)',),
 ('                    ->  Seq Scan on propriedades p  (cost=0.00..804.19 rows=32519 width=8) (actual time=0.012..21.462 rows=32519 loops=1)',),
 ('                    ->  Hash  (cost=383.80..383.80 rows=21980 width=16) (actual time=27.036..27.042 rows=21980 loops=1)',),
 ('                          Buckets: 32768  Batches: 1  Memory Usage: 1323kB',),
 ('                          ->  Seq Scan on usuarios u  (cost=0.00..383.80 rows=21980 width=16) (actual time=0.013..12.579 rows=21980 loops=1)',),
 ('              ->  Hash  (cost=3.56..3.56 rows=156 width=19) (actual time=0.191..0.194 rows=156 loops=1)',),
 ('                    Buckets: 1024  Batches: 1  Memory Usage: 16kB',),
 ('                    ->  Seq Scan on localizacoes l  (cost=0.00..3.56 rows=156 width=19) (actual time=0.023..0.105 rows=156 loops=1)',),
 ('Planning Time: 0.673 ms',),
 ('Execution Time: 201.318 ms',)]

In [169]:
# com index
%sql DROP INDEX IF EXISTS indexAnfitriao;
%sql CREATE INDEX indexAnfitriao ON Propriedades (IDAnfitriao);
%sql EXPLAIN ANALYZE $sql_query

 * postgresql://postgres:***@localhost/trabbd
Done.
 * postgresql://postgres:***@localhost/trabbd
Done.
 * postgresql://postgres:***@localhost/trabbd
20 rows affected.

[('Sort  (cost=2711.60..2729.91 rows=7327 width=35) (actual time=140.878..141.692 rows=1751 loops=1)',),
 ('  Sort Key: (count(p.id)) DESC',),
 ('  Sort Method: quicksort  Memory: 186kB',),
 ('  ->  HashAggregate  (cost=1966.49..2241.24 rows=7327 width=35) (actual time=134.478..139.820 rows=1751 loops=1)',),
 ('        Group Key: u.id, l.cidade',),
 ('        Filter: (count(p.id) >= 3)',),
 ('        Rows Removed by Filter: 20229',),
 ('        ->  Hash Join  (cost=664.06..1641.30 rows=32519 width=31) (actual time=22.665..106.812 rows=32519 loops=1)',),
 ('              Hash Cond: (u.idlocalizacao = l.id)',),
 ('              ->  Hash Join  (cost=658.55..1548.11 rows=32519 width=20) (actual time=22.486..77.162 rows=32519 loops=1)',),
 ('                    Hash Cond: (p.idanfitriao = u.id)',),
 ('                    ->  Seq Scan on propriedades p  (cost=0.00..804.19 rows=32519 width=8) (actual time=0.014..15.518 rows=32519 loops=1)',),
 ('                    ->  Hash  (cost=383.80..383.80 rows=21980 width=16) (actual time=22.454..22.456 rows=21980 loops=1)',),
 ('                          Buckets: 32768  Batches: 1  Memory Usage: 1323kB',),
 ('                          ->  Seq Scan on usuarios u  (cost=0.00..383.80 rows=21980 width=16) (actual time=0.019..10.615 rows=21980 loops=1)',),
 ('              ->  Hash  (cost=3.56..3.56 rows=156 width=19) (actual time=0.173..0.175 rows=156 loops=1)',),
 ('                    Buckets: 1024  Batches: 1  Memory Usage: 16kB',),
 ('                    ->  Seq Scan on localizacoes l  (cost=0.00..3.56 rows=156 width=19) (actual time=0.024..0.094 rows=156 loops=1)',),
 ('Planning Time: 5.568 ms',),
 ('Execution Time: 142.506 ms',)]

In [167]:
%sql $sql_query

 * postgresql://postgres:***@localhost/trabbd
1751 rows affected.

[(91654021, 'Daniel', 'Rio de Janeiro', 104),
 (1982737, 'Estadia', 'Rio de Janeiro', 78),
 (14315601, 'Aroldo', 'Rio de Janeiro', 71),
 (47584281, 'Renato', 'Rio de Janeiro', 68),
 (6000862, 'Omar Do Rio', 'Rio de Janeiro', 66),
 (371026651, 'Pineapples', 'Rio de Janeiro', 63),
 (341887136, 'Tabas', 'Rio de Janeiro', 55),
 (12909867, 'Giovanni', 'Rio de Janeiro', 47),
 (8975746, 'Line Rio', 'Rio de Janeiro', 41),
 (74463624, 'Mozart', 'Rio de Janeiro', 40),
 (22805631, 'Latin Exclusive', 'Rio de Janeiro', 38),
 (257601767, 'Raquel Grama', 'Rio de Janeiro', 38),
 (13580277, 'Marcio', 'Rio de Janeiro', 37),
 (2513825, 'Further', 'Rio de Janeiro', 36),
 (49207110, 'Anfitriao Gente Boa', 'Rio de Janeiro', 35),
 (532498, 'Luis', 'Rio de Janeiro', 34),
 (14314998, 'Rio Unique', 'Rio de Janeiro', 34),
 (1422607, 'Leo&Archanjo', 'Rio de Janeiro', 34),
 (392083762, 'Oka', 'Rio de Janeiro', 33),
 (60298129, 'Danide', 'Rio de Janeiro', 32),
 (22713969, 'Maria', 'Rio de Janeiro', 31),
 (4255118, 'Ricardo', 'Rio de Janeiro', 30),
 (2919803, 'Felipe', 'Rio de Janeiro', 29),
 (70646886, 'LuxoBrasil', 'Rio de Janeiro', 27),
 (43898034, 'Giovani', 'Rio de Janeiro', 26),
 (160833906, 'RioHost', 'Rio de Janeiro', 26),
 (153721, 'Shushma', 'Rio de Janeiro', 26),
 (10406037, 'Rio Houses', 'Rio de Janeiro', 25),
 (6786750, 'Matteo', 'Rio de Janeiro', 25),
 (74652696, 'Andreia', 'Rio de Janeiro', 24),
 (30721359, 'I Live Global', 'Rio de Janeiro', 24),
 (15900036, 'Israel Fagundes', 'Rio de Janeiro', 24),
 (321818201, 'Maria Luisa', 'Rio de Janeiro', 24),
 (30165706, 'Yes Temporada', 'Rio de Janeiro', 24),
 (10541644, 'Virginia', 'Rio de Janeiro', 24),
 (4005407, 'Erika', 'Rio de Janeiro', 24),
 (4307081, 'Nereu A', 'Rio de Janeiro', 23),
 (27229964, 'Beatriz', 'Rio de Janeiro', 23),
 (8303861, 'Carlos Eduardo', 'Rio de Janeiro', 23),
 (468723322, 'Villas In Brazil', 'Rio de Janeiro', 23),
 (473492239, 'Mauricio', 'Rio de Janeiro', 23),
 (292590334, 'Belsito Apartments', 'Rio de Janeiro', 23),
 (149407, 'Ricardo', 'Rio de Janeiro', 22),
 (319227148, 'Anfitrião Prime', 'Rio de Janeiro', 22),
 (71645815, 'Adilson', 'Rio de Janeiro', 22),
 (36744189, 'Monica', 'Rio de Janeiro', 22),
 (310319158, 'Suellen', 'Rio de Janeiro', 21),
 (26945147, 'Smartbnb', 'Rio de Janeiro', 21),
 (15533343, 'Yuri', 'Rio de Janeiro', 21),
 (92284964, 'BestStay', 'Rio de Janeiro', 21),
 (167472593, 'Rio Stay Residence', 'Rio de Janeiro', 21),
 (146347544, 'Frédéric', 'Rio de Janeiro', 21),
 (16064460, 'Rômulo', 'Rio de Janeiro', 20),
 (352008051, 'Marcolini', 'Rio de Janeiro', 20),
 (318672692, 'Rafael', 'Rio de Janeiro', 20),
 (463573876, 'Aran', 'Rio de Janeiro', 20),
 (21365765, 'Unhotel', 'Rio de Janeiro', 20),
 (249003418, 'Best', 'Rio de Janeiro', 20),
 (113997985, 'HomeRio', 'Rio de Janeiro', 20),
 (4438776, 'Elisabete', 'Rio de Janeiro', 19),
 (823800, 'Rafaella', 'Rio de Janeiro', 19),
 (446405145, 'Joel', 'Rio de Janeiro', 19),
 (229244053, 'Leda', 'Rio de Janeiro', 19),
 (137007102, 'FGibran', 'Rio de Janeiro', 18),
 (10423223, 'Carlos Rio Reservas', 'Rio de Janeiro', 18),
 (27994357, 'Henrique', 'Rio de Janeiro', 18),
 (325713553, 'Filipe', 'Rio de Janeiro', 18),
 (366913236, 'Daniel', 'Rio de Janeiro', 17),
 (57671630, 'Leander', 'Rio de Janeiro', 17),
 (213230578, 'Alexandre', 'Rio de Janeiro', 17),
 (10507162, 'Mauricio', 'Rio de Janeiro', 17),
 (21218739, 'Pedro', 'Rio de Janeiro', 16),
 (9270905, 'Carlos', 'Rio de Janeiro', 16),
 (459544, 'Temporada', 'Rio de Janeiro', 16),
 (25067261, 'Emma', 'Rio de Janeiro', 16),
 (408071697, 'Gabriela', 'Rio de Janeiro', 16),
 (20370177, 'Sylvie', 'Rio de Janeiro', 15),
 (13411812, 'Fernando', 'Rio de Janeiro', 15),
 (2438594, 'WhereInRio', 'Rio de Janeiro', 15),
 (35739862, 'Rodrigo', 'Rio de Janeiro', 14),
 (13323106, 'Allan', 'Rio de Janeiro', 14),
 (80329631, 'Neide', 'Rio de Janeiro', 14),
 (14095160, 'Claudia', 'Rio de Janeiro', 14),
 (238604267, 'Claudia', 'Rio de Janeiro', 14),
 (192303063, 'Sivaldo', 'Rio de Janeiro', 14),
 (5615480, 'Andrea', 'Rio de Janeiro', 14),
 (102761308, 'Caio', 'Rio de Janeiro', 14),
 (235177717, 'Claudio', 'Rio de Janeiro', 13),
 (2312911, 'Elena E Sergio', 'Rio de Janeiro', 13),
 (365760452, 'Rosi', 'Rio de Janeiro', 13),
 (108643221, 'Celso Teixeira', 'Rio de Janeiro', 13),
 (74338742, 'Atel', 'Rio de Janeiro', 13),
 (467605641, 'Hostel Princess', 'Rio de Janeiro', 13),
 (315740743, 'Maicon', 'Rio de Janeiro', 13),
 (238544772, 'Cesar', 'Rio de Janeiro', 13),
 (211001893, 'Fabio', 'Rio de Janeiro', 13),
 (348293564, 'Juliana', 'Rio de Janeiro', 13),
 (8669485, 'Adriano', 'Rio de Janeiro', 13),
 (164822022, 'Temporada', 'Rio de Janeiro', 13),
 (397106841, 'Jump In', 'Rio de Janeiro', 13),
 (363700178, 'Ceres', 'Rio de Janeiro', 13),
 (463844986, 'Lobie', 'Rio de Janeiro', 13),
 (37238144, 'Rafaele Bispo', 'Rio de Janeiro', 13),
 (401842074, 'Nayana', 'Rio de Janeiro', 13),
 (8156211, 'Giovanna', 'Rio de Janeiro', 12),
 (11782291, 'Lucas', 'Rio de Janeiro', 12),
 (13664216, 'Maria Lucia', 'Rio de Janeiro', 12),
 (13392098, 'Vinicio', 'Rio de Janeiro', 12),
 (378545175, 'Jorge Luiz', 'Rio de Janeiro', 12),
 (56259668, 'Sabrina Franklin', 'Rio de Janeiro', 12),
 (148937129, 'Alessandra', 'Rio de Janeiro', 12),
 (83831825, 'Mi Casa Su Casa', 'Rio de Janeiro', 12),
 (5737780, 'Fabi', 'Rio de Janeiro', 12),
 (21931975, 'Rio Temporada', 'Rio de Janeiro', 12),
 (10467486, 'Carolina', 'Rio de Janeiro', 12),
 (36258642, 'Patrick', 'Rio de Janeiro', 12),
 (224192, 'David', 'Rio de Janeiro', 12),
 (172345271, 'Monica', 'Rio de Janeiro', 12),
 (66039372, 'Vitor & Carlos', 'Rio de Janeiro', 12),
 (309591724, 'Renato', 'Rio de Janeiro', 12),
 (429775424, 'Helô', 'Rio de Janeiro', 12),
 (23369184, 'Juliana - Temporada Curta', 'Rio de Janeiro', 12),
 (231818330, 'Matheus', 'Rio de Janeiro', 11),
 (271367467, 'Anna', 'Rio de Janeiro', 11),
 (84751001, 'Eveline', 'Rio de Janeiro', 11),
 (90268480, 'Marcos', 'Rio de Janeiro', 11),
 (272976656, 'Marcus Vinícius', 'Rio de Janeiro', 11),
 (4581272, 'Diogo Rio Habitat', 'Rio de Janeiro', 11),
 (526672837, 'Minha Casa De Temporada', 'Rio de Janeiro', 11),
 (216622191, 'Marilene', 'Rio de Janeiro', 11),
 (29963280, 'Paulo', 'Rio de Janeiro', 11),
 (523251, 'Humberto', 'Rio de Janeiro', 11),
 (347487511, 'Rodrigo', 'Rio de Janeiro', 11),
 (489381613, 'Marcos Rodrigo', 'Rio de Janeiro', 11),
 (29475411, 'Bruno & Ricardo', 'Rio de Janeiro', 11),
 (167997008, 'Monica', 'Rio de Janeiro', 11),
 (112504243, 'Sonia', 'Rio de Janeiro', 11),
 (55128713, 'Normando', 'Rio de Janeiro', 11),
 (894049, 'Janara', 'Rio de Janeiro', 11),
 (4420701, 'Gustavo', 'Rio de Janeiro', 10),
 (15275005, 'Jonas', 'Rio de Janeiro', 10),
 (446253282, 'Flavia', 'Rio de Janeiro', 10),
 (11933341, 'Petruza', 'Rio de Janeiro', 10),
 (202660425, 'Leila', 'Rio de Janeiro', 10),
 (98289727, 'Mm Aluguel Por Temporada', 'Rio de Janeiro', 10),
 (277358509, 'Flat Residence', 'Rio de Janeiro', 10),
 (8364280, 'Jan', 'Rio de Janeiro', 10),
 (12902528, 'Lilien', 'Rio de Janeiro', 10),
 (490978942, 'Hans', 'Rio de Janeiro', 10),
 (39817386, 'Reserve', 'Rio de Janeiro', 10),
 (9226189, 'Débora', 'Rio de Janeiro', 10),
 (4376064, 'Anfitriões', 'Rio de Janeiro', 10),
 (3018529, 'Marcia', 'Rio de Janeiro', 10),
 (535841659, 'Hostel', 'Rio de Janeiro', 10),
 (7955669, 'Katia Valeria', 'Rio de Janeiro', 10),
 (23488225, 'Max', 'Rio de Janeiro', 10),
 (358323282, 'Rafael', 'Rio de Janeiro', 10),
 (13359269, 'Antonio', 'Rio de Janeiro', 10),
 (8000736, 'Andrade', 'Rio de Janeiro', 10),
 (31226043, 'Alan', 'Rio de Janeiro', 10),
 (131669310, 'Bruno & Marcos', 'Rio de Janeiro', 10),
 (177786203, 'Jocelyn', 'Rio de Janeiro', 10),
 (23218244, 'Anna', 'Rio de Janeiro', 10),
 (78598801, 'Cláudia', 'Rio de Janeiro', 9),
 (26005554, 'Serginho Rauen VizooBuzios', 'Rio de Janeiro', 9),
 (11323527, 'David', 'Rio de Janeiro', 9),
 (467812039, 'Agnes', 'Rio de Janeiro', 9),
 (201418761, 'Carlos', 'Rio de Janeiro', 9),
 (337762439, 'Thiago', 'Rio de Janeiro', 9),
 (26748682, 'Rose', 'Rio de Janeiro', 9),
 (32168832, 'Marcus', 'Rio de Janeiro', 9),
 (39135642, 'Juliana', 'Rio de Janeiro', 9),
 (401229484, 'Manuella', 'Rio de Janeiro', 9),
 (11070008, 'BlissRio', 'Rio de Janeiro', 9),
 (485252166, 'Erivan', 'Rio de Janeiro', 9),
 (11504031, 'Valdene', 'Rio de Janeiro', 9),
 (152217261, 'Taina', 'Rio de Janeiro', 9),
 (492291708, 'Jacqueline', 'Rio de Janeiro', 9),
 (77709888, 'Vanessa', 'Rio de Janeiro', 9),
 (1537641, 'Gilles', 'Rio de Janeiro', 9),
 (115138742, 'Karina', 'Rio de Janeiro', 9),
 (272752257, 'Felipe', 'Rio de Janeiro', 9),
 (115075111, 'Lis', 'Rio de Janeiro', 9),
 (47248185, 'Maria Luiza', 'Rio de Janeiro', 9),
 (70933, 'Goitaca', 'Rio de Janeiro', 9),
 (232555342, 'Regina', 'Rio de Janeiro', 9),
 (320966647, 'Petruza', 'Rio de Janeiro', 9),
 (46664224, 'Rafael', 'Rio de Janeiro', 9),
 (351259985, 'Carolina', 'Rio de Janeiro', 9),
 (6217672, 'Fernando', 'Rio de Janeiro', 9),
 (13635061, 'Adriana', 'Rio de Janeiro', 9),
 (534675, 'Junior', 'Rio de Janeiro', 9),
 (454830327, 'Clara', 'Rio de Janeiro', 9),
 (387761453, 'Rafael', 'Rio de Janeiro', 8),
 (228348887, 'Hélio', 'Rio de Janeiro', 8),
 (513685, 'Carlos', 'Rio de Janeiro', 8),
 (48720390, 'Fariza', 'Rio de Janeiro', 8),
 (10607843, 'Rio Hosting', 'Rio de Janeiro', 8),
 (13753183, 'Raíssa', 'Rio de Janeiro', 8),
 (320261036, 'Jefferson', 'Rio de Janeiro', 8),
 (4832097, 'Celi', 'Rio de Janeiro', 8),
 (11607286, 'Josana', 'Rio de Janeiro', 8),
 (325572562, 'Sonia Iris', 'Rio de Janeiro', 8),
 (8477603, 'Pamela', 'Rio de Janeiro', 8),
 (137109572, 'Mango Tree Ipanema', 'Rio de Janeiro', 8),
 (406555768, 'Maria Helena', 'Rio de Janeiro', 8),
 (511384819, 'João Ricardo', 'Rio de Janeiro', 8),
 (302960741, 'Solar', 'Rio de Janeiro', 8),
 (80338139, 'Cláudia', 'Rio de Janeiro', 8),
 (499353982, 'Comercial', 'Rio de Janeiro', 8),
 (13949537, 'Alexander', 'Rio de Janeiro', 8),
 (415432275, 'Sunset Rio', 'Rio de Janeiro', 8),
 (26414324, 'Alire Lima', 'Rio de Janeiro', 8),
 (3665789, 'Beta Gatti', 'Rio de Janeiro', 8),
 (79151243, 'Breno', 'Rio de Janeiro', 8),
 (4036979, 'Daniela', 'Rio de Janeiro', 8),
 (473819006, 'Mara', 'Rio de Janeiro', 8),
 (16017168, 'Elza', 'Rio de Janeiro', 8),
 (64294308, 'Terezinha', 'Rio de Janeiro', 8),
 (50893268, 'Adriana', 'Rio de Janeiro', 8),
 (429604997, 'Bárbara', 'Rio de Janeiro', 8),
 (68850265, 'Bette', 'Rio de Janeiro', 8),
 (22240461, 'Tatiana', 'Rio de Janeiro', 8),
 (229472947, 'Valeska', 'Rio de Janeiro', 8),
 (25130130, 'Fabio', 'Rio de Janeiro', 8),
 (425294959, 'Rami', 'Rio de Janeiro', 8),
 (36289458, 'Maria', 'Rio de Janeiro', 8),
 (6687502, 'Casa Babilônia', 'Rio de Janeiro', 8),
 (224799115, 'Isabela', 'Rio de Janeiro', 8),
 (4284876, 'Silvia', 'Rio de Janeiro', 8),
 (67587712, 'Gabriel', 'Rio de Janeiro', 8),
 (406354831, 'Sheila', 'Rio de Janeiro', 8),
 (792218, 'Levy', 'Rio de Janeiro', 8),
 (1675920, 'Dacia', 'Rio de Janeiro', 8),
 (106863172, 'Geane', 'Rio de Janeiro', 8),
 (64275672, 'Adam', 'Rio de Janeiro', 8),
 (601323, 'Laurent', 'Rio de Janeiro', 7),
 (497786, 'Butterfly Vanazul', 'Rio de Janeiro', 7),
 (63099507, 'Fabiani', 'Rio de Janeiro', 7),
 (10823485, 'Vania', 'Rio de Janeiro', 7),
 (32416144, 'Alexandre', 'Rio de Janeiro', 7),
 (70426798, 'Márcia', 'Rio de Janeiro', 7),
 (3802101, 'Katya', 'Rio de Janeiro', 7),
 (160469308, 'Ursula', 'Rio de Janeiro', 7),
 (330224882, 'Josue', 'Rio de Janeiro', 7),
 (156636821, 'Thaissa', 'Rio de Janeiro', 7),
 (95117133, 'Raissa', 'Rio de Janeiro', 7),
 (10486509, 'Arno & Igor', 'Rio de Janeiro', 7),
 (635510, 'Gilberto', 'Rio de Janeiro', 7),
 (544744044, 'A2', 'Rio de Janeiro', 7),
 (172482654, 'Evilene', 'Rio de Janeiro', 7),
 (10564794, 'Eduardo', 'Rio de Janeiro', 7),
 (2537111, 'Barbara', 'Rio de Janeiro', 7),
 (203022450, 'Ronaldo', 'Rio de Janeiro', 7),
 (10796926, 'Sugar Loft Apartments', 'Rio de Janeiro', 7),
 (24521701, 'Fatima', 'Rio de Janeiro', 7),
 (87767987, 'Giselle', 'Rio de Janeiro', 7),
 (431412286, 'Carlos Henrique', 'Rio de Janeiro', 7),
 (13272749, 'Sonia', 'Rio de Janeiro', 7),
 (58769289, 'Monica', 'Rio de Janeiro', 7),
 (175671577, 'Top House', 'Rio de Janeiro', 7),
 (6005451, 'Tereza', 'Rio de Janeiro', 7),
 (335170968, 'Christine', 'Rio de Janeiro', 7),
 (206038342, 'Cláudia', 'Rio de Janeiro', 7),
 (15221271, 'Robson', 'Rio de Janeiro', 7),
 (11386725, 'Carolina', 'Rio de Janeiro', 7),
 (500936420, 'Fernanda', 'Rio de Janeiro', 7),
 (9967131, 'Aline', 'Rio de Janeiro', 7),
 (46226066, 'Alvar Mario', 'Rio de Janeiro', 7),
 (42685021, 'Roberto', 'Rio de Janeiro', 7),
 (15925374, 'Luiz Renato', 'Rio de Janeiro', 7),
 (67850207, 'Tupiniquim Hostel', 'Rio de Janeiro', 7),
 (78817280, 'Wagner', 'Rio de Janeiro', 7),
 (171869673, 'Denise', 'Rio de Janeiro', 7),
 (67255068, 'Home', 'Rio de Janeiro', 7),
 (68163291, 'Valder', 'Rio de Janeiro', 7),
 (248739218, 'Maria', 'Rio de Janeiro', 7),
 (228237182, 'Eliane', 'Rio de Janeiro', 7),
 (48024, 'Gustavo', 'Rio de Janeiro', 7),
 (477415028, 'Rio 222', 'Rio de Janeiro', 7),
 (62525920, 'Adriana', 'Rio de Janeiro', 7),
 (426256392, 'Ipanema Club', 'Rio de Janeiro', 7),
 (52557989, 'Alexandre', 'Rio de Janeiro', 7),
 (4168266, 'CabanaCopa', 'Rio de Janeiro', 7),
 (491350351, 'Fernanda', 'Rio de Janeiro', 7),
 (17175278, 'Elcio', 'Rio de Janeiro', 7),
 (13952932, 'Fabiana', 'Rio de Janeiro', 7),
 (44729495, 'Juliana', 'Rio de Janeiro', 7),
 (652627, 'Ana', 'Rio de Janeiro', 7),
 (130642381, 'Mahnai', 'Rio de Janeiro', 7),
 (17325065, 'Artur', 'Rio de Janeiro', 7),
 (458980426, 'Eduardo', 'Rio de Janeiro', 7),
 (9465134, 'Aline', 'Rio de Janeiro', 7),
 (4232062, 'Meg', 'Rio de Janeiro', 7),
 (152441811, 'Thiago', 'Rio de Janeiro', 7),
 (302209040, 'Vinicius', 'Rio de Janeiro', 7),
 (13895463, 'Gabi', 'Rio de Janeiro', 7),
 (9387742, 'Leandra', 'Rio de Janeiro', 7),
 (221597210, 'Marcilene', 'Rio de Janeiro', 7),
 (111551444, 'Fátima', 'Rio de Janeiro', 7),
 (5838889, 'Marie', 'Rio de Janeiro', 7),
 (1429181, 'Samuel', 'Rio de Janeiro', 7),
 (40151333, 'Rita', 'Rio de Janeiro', 7),
 (174303208, 'Àlan', 'Rio de Janeiro', 7),
 (11739, 'Eric', 'Rio de Janeiro', 7),
 (158098971, 'Myrian', 'Rio de Janeiro', 6),
 (346655886, 'Marcus André', 'Rio de Janeiro', 6),
 (27531233, 'Tiago', 'Rio de Janeiro', 6),
 (14232658, 'Paulo', 'Rio de Janeiro', 6),
 (316921706, 'Paulo', 'Rio de Janeiro', 6),
 (380142448, 'Alex', 'Rio de Janeiro', 6),
 (346082128, 'SNS Patrimonial E Serviços Ltda', 'Rio de Janeiro', 6),
 (536600082, 'Laris', 'Rio de Janeiro', 6),
 (52771823, 'Sheila', 'Rio de Janeiro', 6),
 (423392969, 'Thiago', 'Rio de Janeiro', 6),
 (76210086, 'Mc Flats', 'Rio de Janeiro', 6),
 (479312966, 'Emilio', 'Rio de Janeiro', 6),
 (51227019, 'Pedro', 'Rio de Janeiro', 6),
 (113346982, 'Stefan', 'Rio de Janeiro', 6),
 (442620033, 'Lidia Nayara', 'Rio de Janeiro', 6),
 (109885396, 'Sebastião', 'Rio de Janeiro', 6),
 (1577817, 'Olivier', 'Rio de Janeiro', 6),
 (296430347, 'Rodrigo', 'Rio de Janeiro', 6),
 (16545585, 'Celia', 'Rio de Janeiro', 6),
 (517386494, 'Beach House Gigóia', 'Rio de Janeiro', 6),
 (63954449, 'Jorge', 'Rio de Janeiro', 6),
 (122261758, 'Skala', 'Rio de Janeiro', 6),
 (30975221, 'Rio Guests', 'Rio de Janeiro', 6),
 (23543878, 'Paulo', 'Rio de Janeiro', 6),
 (62913860, 'Rodolfo', 'Rio de Janeiro', 6),
 (222108450, 'Tatiana', 'Rio de Janeiro', 6),
 (30717384, 'Isabela', 'Rio de Janeiro', 6),
 (85897939, 'Flavia Prista', 'Rio de Janeiro', 6),
 (36981403, 'Cristina', 'Rio de Janeiro', 6),
 (53461053, 'Ana Paula', 'Rio de Janeiro', 6),
 (5228078, 'Marcelo', 'Rio de Janeiro', 6),
 (5244204, 'Milla', 'Rio de Janeiro', 6),
 (327244298, 'Daniel', 'Rio de Janeiro', 6),
 (5532376, 'Andre', 'Rio de Janeiro', 6),
 (156237325, 'Thiago', 'Rio de Janeiro', 6),
 (69922816, 'Arnaud', 'Rio de Janeiro', 6),
 (352599409, 'Best In Rio Stay Convention Suites', 'Rio de Janeiro', 6),
 (11389355, 'Leticia', 'Rio de Janeiro', 6),
 (210041079, 'Goya', 'Rio de Janeiro', 6),
 (116235207, 'Paulo', 'Rio de Janeiro', 6),
 (413577, 'Bernardo', 'Rio de Janeiro', 6),
 (2208473, 'Walbenir', 'Rio de Janeiro', 6),
 (271615742, 'Rita', 'Rio de Janeiro', 6),
 (11411976, 'Paula', 'Rio de Janeiro', 6),
 (193205371, 'Victor', 'Rio de Janeiro', 6),
 (270247199, 'Aqui Eu Rio', 'Rio de Janeiro', 6),
 (5942159, 'Marco', 'Rio de Janeiro', 6),
 (13832827, 'Bernardo', 'Rio de Janeiro', 6),
 (10640170, 'Ana', 'Rio de Janeiro', 6),
 (110636072, 'Rosilene Schneider', 'Rio de Janeiro', 6),
 (34459302, 'Gisele', 'Rio de Janeiro', 6),
 (39695742, 'Alberto', 'Rio de Janeiro', 6),
 (235670926, 'Diogo', 'Rio de Janeiro', 6),
 (130328815, 'Sonia E Gabriela', 'Rio de Janeiro', 6),
 (483447030, 'Ruy', 'Rio de Janeiro', 6),
 (3746246, 'Ghizlane', 'Rio de Janeiro', 6),
 (43480511, 'Igor', 'Rio de Janeiro', 6),
 (8782308, 'Julia Zany', 'Rio de Janeiro', 6),
 (14743853, 'Carlos', 'Rio de Janeiro', 6),
 (1168587, 'Patricia', 'Rio de Janeiro', 6),
 (330417921, 'Jeane Ormond', 'Rio de Janeiro', 6),
 (9739433, 'Vivian', 'Rio de Janeiro', 6),
 (15758557, 'Francisco', 'Rio de Janeiro', 6),
 (61714845, 'Paulo', 'Rio de Janeiro', 6),
 (390140856, 'Heron', 'Rio de Janeiro', 6),
 (431676014, 'Sabrina', 'Rio de Janeiro', 6),
 (4106244, 'Guilherme', 'Rio de Janeiro', 6),
 (2903813, 'Lucia', 'Rio de Janeiro', 6),
 (36640543, 'Artur', 'Rio de Janeiro', 6),
 (15175491, 'Pricila', 'Rio de Janeiro', 6),
 (92034724, 'Adriana', 'Rio de Janeiro', 6),
 (13501097, 'Enzo', 'Rio de Janeiro', 6),
 (242968329, 'Vinicius', 'Rio de Janeiro', 6),
 (135845476, 'Casa Do Mar', 'Rio de Janeiro', 6),
 (303124704, 'Marco', 'Rio de Janeiro', 6),
 (3308731, 'Stay', 'Rio de Janeiro', 6),
 (29593595, 'Sweet Homes Rio', 'Rio de Janeiro', 6),
 (56179426, 'Pedro', 'Rio de Janeiro', 6),
 (468900451, 'Simone', 'Rio de Janeiro', 6),
 (530231, 'Yaya', 'Rio de Janeiro', 6),
 (6668899, 'Paulo Marcos', 'Rio de Janeiro', 6),
 (477274210, 'Cadê Teresa', 'Rio de Janeiro', 6),
 (475340957, 'Adv', 'Rio de Janeiro', 6),
 (302575174, 'Helmar Oliveira', 'Rio de Janeiro', 6),
 (5862587, 'Paula', 'Rio de Janeiro', 6),
 (14279272, 'Flavio', 'Rio de Janeiro', 6),
 (153667273, 'Fernando', 'Rio de Janeiro', 6),
 (369641212, 'Solano Rodrigo', 'Rio de Janeiro', 6),
 (78713589, 'Augusto', 'Rio de Janeiro', 6),
 (158742579, 'Eberson', 'Rio de Janeiro', 6),
 (380418292, 'Bruno', 'Rio de Janeiro', 6),
 (2125175, 'Eliete', 'Rio de Janeiro', 6),
 (170522649, 'João Pedro', 'Rio de Janeiro', 6),
 (445730956, 'Apart-Hotel Convention Rio Stay', 'Rio de Janeiro', 6),
 (111555164, 'Juliana Bento', 'Rio de Janeiro', 6),
 (59519391, 'Márcio', 'Rio de Janeiro', 6),
 (1796794, 'Yara', 'Rio de Janeiro', 6),
 (27149197, 'Maria Luisa', 'Rio de Janeiro', 6),
 (514115445, 'Juan Angel', 'Rio de Janeiro', 6),
 (5573690, 'Luciana', 'Rio de Janeiro', 6),
 (523903815, 'Reinaldo', 'Rio de Janeiro', 6),
 (14015723, 'Geraldo & Simone', 'Rio de Janeiro', 6),
 (231159376, 'Ursula', 'Rio de Janeiro', 6),
 (980805, 'Henrique', 'Rio de Janeiro', 6),
 (318163118, 'Renata', 'Rio de Janeiro', 6),
 (32429803, 'Milton', 'Rio de Janeiro', 6),
 (3890087, 'Peter', 'Rio de Janeiro', 6),
 (286053300, 'Natasha', 'Rio de Janeiro', 6),
 (54899116, 'Rudá', 'Rio de Janeiro', 6),
 (58857593, 'Luiza', 'Rio de Janeiro', 6),
 (496656, 'Marcia  Longras', 'Rio de Janeiro', 6),
 (470173166, 'Marco', 'Rio de Janeiro', 6),
 (56337810, 'Socorro Costa', 'Rio de Janeiro', 6),
 (155819967, 'Carolina', 'Rio de Janeiro', 6),
 (10214925, 'Onayr', 'Rio de Janeiro', 5),
 (404458319, 'William', 'Rio de Janeiro', 5),
 (299563308, 'Stefany', 'Rio de Janeiro', 5),
 (421420448, 'Vinicius', 'Rio de Janeiro', 5),
 (12180348, 'Diogo', 'Rio de Janeiro', 5),
 (398674687, 'Taisa E Vitor', 'Rio de Janeiro', 5),
 (386204706, 'Paulo', 'Rio de Janeiro', 5),
 (22579735, 'Renata', 'Rio de Janeiro', 5),
 (531465580, 'Yron', 'Rio de Janeiro', 5),
 (4873555, 'Pedro', 'Rio de Janeiro', 5),
 (422476687, 'Rafael', 'Rio de Janeiro', 5),
 (4622315, 'Rafael', 'Rio de Janeiro', 5),